/*-- effect-css --*/
.text-desc{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100%;
    opacity: 0;
    width: 100%;
    padding: 68px 24px 0;
    margin-bottom:20%;
	}
.port-2{ 
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
    border: 1px solid #ccc;
	perspective: 800px;
    padding: 5px 5px;
	}
.port-2 .text-desc{
	z-index: -1;
	transition: 0.6s;
	background:#fff;
	}
.port-2 .image-box{
	transition: 0.4s;
	}
.port-2:hover .image-box{
	transform: rotateX(80deg);
	transform-origin: center bottom 0; 
	transition: 0.4s;}

.port-2.effect-1:hover .text-desc{
	opacity: 1;
	}

.port-2.effect-2 .text-desc{
	opacity: 1;
	top: -100%;
	}
.port-2.effect-2:hover .text-desc{
	top: 0;
	}

.port-2.effect-3 .text-desc{
	opacity: 1; 
	top: auto;
	bottom: -100%;
	}
.port-2.effect-3:hover .text-desc{
	bottom: 0;
	}




/*-- Process grid----*/


.process {
    background: #f7f7f7;
}
.process_grids{
	margin-top:55px;
}
.text-desc h4 {
    color: #ffad00;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}
.text-desc p{
	font-size:15px;
	line-height:2.2em;
	color:#464646;
}
.process_right h4{
    color: #ffad00;
    font-size: 28px;
    font-weight: 400;
	text-transform:capitalize;	
}
.process_right p{
	font-size:15px;
	color:#464646;
	line-height:2.2em;
    margin: 25px 0 0px;
}
.pro_left h5 {
    font-size: 20px;
    color: #ffad00;
    border: 1px solid #ccc;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 46px;
    height: 46px;
    line-height: 2.1em;
    margin: 0 auto;
}
.pro_left h6 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 21px;
    font-family: 'Lato', sans-serif;
    color: #464646;
}
.pro_grids {
    margin-top: 55px;
}
.pro_spa h5{
	position:relative;	
}
.pro_spa h5:after {
    width: 114px;
    display: inline-block;
    content: "";
    background: #ccc;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 100%;
}

/*-- Pramotion Heading Inner page of Pramotion ---*/
.promotion-heading1, .satellite-heading1 {
    color: #302f2f;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
    align-content: center;
}
.inner-promotion1{
    
}
.inner-promotion1 p {
    font-size: 18px;
    font-weight: bold;
    color: #f6faff;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 50px;
}



/*My Inner Pramotion Page*/
.account-section2{min-height: 660px; /*background: #030049;*/ background-image: url('../img/backwhite.png'); background-size:cover; background-position:center; padding-top: 95px; }
.account-section2 .platforms {position: absolute;top: 95px;left: 0;background-color: rgba(11, 10, 10, .65);padding: 10px 50px;min-height: 50px;}
.account-section2 .platforms:after {border-top: 50px solid rgba(11, 10, 10, .65);border-right: 90px solid transparent;content:'';top: 0;position: absolute;right: -90px;}
.account-section2 .platforms li {font-family: 'SFProDisplay-Thin';color:#fff;font-size: 18px;}
.account-section2 .platforms li a {color:#fff;padding: 7px 10px;border-radius: 25px;}
.account-section2 .platforms li a:hover,
.account-section2 .platforms li.active a {  color:#0093E8; }
.account-section2 .platforms li:last-child { margin-right: 0; }
.account-section2 .platforms li.rewards a {    padding-right: 20px; padding-left: 20px; font-size: 13px; background: -webkit-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: -o-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: -ms-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: -moz-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: linear-gradient(to bottom, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); color: #323233; font-family: 'SFProDisplay-Semibold';}
.account-section2 .platforms li.deposit a { color: #ffffff !important;  padding-left: 20px; padding-right: 20px; font-size: 13px; background: -webkit-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -o-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -ms-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -moz-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: linear-gradient(15deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); color: #323233; font-family: 'SFProDisplay-Semibold';    padding-left: 20px; padding-right: 20px; font-size: 13px; background: -webkit-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -o-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -ms-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -moz-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: linear-gradient(15deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); color: #323233; font-family: 'SFProDisplay-Semibold'; }
.account-section2 .platforms li.redeem a {     padding-left: 20px; padding-right: 20px; font-size: 13px; background: -webkit-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -o-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -ms-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -moz-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: linear-gradient(15deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); color: #323233; font-family: 'SFProDisplay-Semibold';}


.account-section2 .main-account {padding-top: 60px;padding-bottom: 10px;}
.account-section2 .tab-panel-holder { text-align: center; }
.account-section2 .customize_tabs {display: inline-block;border: none;margin-bottom: 17px;}
.account-section2 .customize_tabs a { border:none; border-bottom:2px solid transparent !important; color:#fff; font-family: 'SFProDisplay-Semibold'; font-size: 18px; }
.account-section2 .customize_tabs .active a { background: transparent; border:none; border-bottom:3px solid #0093E8 !important; color: #fff; }
.account-section2 .customize_tabs li { margin:0 20px; }
.account-section2 .nav-tabs>li >a:focus,
.account-section2 .nav-tabs>li >a:hover { background: transparent; border: none; border-bottom:3px solid #0093E8 !important; color:#fff; }

.account-section2 .tab-content { margin:0 auto; width: 800px; }
.account-section2 .person-wrapper img {width: 115px;height: 115px;border-radius: 100%;object-fit: cover;}
.account-section2 .person-wrapper h2 { color:#fff; font-family: 'SFProDisplay-Semibold'; font-size: 18px; text-transform: uppercase; letter-spacing: 1px; }
.account-section2 .person-wrapper span { color:#fff; font-family: 'SFProDisplay-Thin'; font-size: 18px; }
.account-section2 .amount h3 { font-family: 'SFProDisplay-Light'; font-size: 18px; color:#1db954; margin-bottom: 20px; font-weight: bold;}
/*.account-section2 .amount .item { text-align: left; margin-bottom: 10px; padding-left: 50px; }*/
.account-section2 .amount label img { margin-right: 10px;  display: inline-block; vertical-align: bottom;}
.account-section2 .amount label span {font-family: 'SFProDisplay-Thin';font-size: 18px;letter-spacing: 1px;margin-right: 10px;display: inline-block;vertical-align: bottom;line-height: 1;}
.account-section2 .amount label {font-family: 'SFProDisplay-Semibold';font-size: 20px;line-height: 16px;color: #fff;}
.account-section2 .tab-content p { color:#fff; }

