body{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'SFProDisplay-Thin';
  src: url('../fonts/custom-fonts/SFProDisplay-Thin.eot');
  src: url('../fonts/custom-fonts/SFProDisplay-Thin.woff2') format('woff2'),
       url('../fonts/custom-fonts/SFProDisplay-Thin.woff') format('woff'),
       url('../fonts/custom-fonts/SFProDisplay-Thin.ttf') format('truetype'),
       url('../fonts/custom-fonts/SFProDisplay-Thin.svg#SFProDisplay-Thin') format('svg'),
       url('../fonts/custom-fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText-Bold';
  src: url('../fonts/custom-fonts/SFProText-Bold.eot');
  src: url('../fonts/custom-fonts/SFProText-Bold.woff2') format('woff2'),
       url('../fonts/custom-fonts/SFProText-Bold.woff') format('woff'),
       url('../fonts/custom-fonts/SFProText-Bold.ttf') format('truetype'),
       url('../fonts/custom-fonts/SFProText-Bold.svg#SFProText-Bold') format('svg'),
       url('../fonts/custom-fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Black';
  src: url('../fonts/custom-fonts/SFProDisplay-Black.eot');
  src: url('../fonts/custom-fonts/SFProDisplay-Black.woff2') format('woff2'),
       url('../fonts/custom-fonts/SFProDisplay-Black.woff') format('woff'),
       url('../fonts/custom-fonts/SFProDisplay-Black.ttf') format('truetype'),
       url('../fonts/custom-fonts/SFProDisplay-Black.svg#SFProDisplay-Black') format('svg'),
       url('../fonts/custom-fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Light';
  src: url('../fonts/custom-fonts/SFProDisplay-Light.eot');
  src: url('../fonts/custom-fonts/SFProDisplay-Light.woff2') format('woff2'),
       url('../fonts/custom-fonts/SFProDisplay-Light.woff') format('woff'),
       url('../fonts/custom-fonts/SFProDisplay-Light.ttf') format('truetype'),
       url('../fonts/custom-fonts/SFProDisplay-Light.svg#SFProDisplay-Light') format('svg'),
       url('../fonts/custom-fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url('../fonts/custom-fonts/SFProDisplay-Bold.eot');
  src: url('../fonts/custom-fonts/SFProDisplay-Bold.woff2') format('woff2'),
       url('../fonts/custom-fonts/SFProDisplay-Bold.woff') format('woff'),
       url('../fonts/custom-fonts/SFProDisplay-Bold.ttf') format('truetype'),
       url('../fonts/custom-fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg'),
       url('../fonts/custom-fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Semibold';
  src: url('../fonts/custom-fonts/SFProDisplay-Semibold.eot');
  src: url('../fonts/custom-fonts/SFProDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/custom-fonts/SFProDisplay-Semibold.woff') format('woff'),
       url('../fonts/custom-fonts/SFProDisplay-Semibold.ttf') format('truetype'),
       url('../fonts/custom-fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg'),
       url('../fonts/custom-fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('../fonts/custom-fonts/SFProDisplay-Regular.eot');
  src: url('../fonts/custom-fonts/SFProDisplay-Regular.woff2') format('woff2'),
       url('../fonts/custom-fonts/SFProDisplay-Regular.woff') format('woff'),
       url('../fonts/custom-fonts/SFProDisplay-Regular.ttf') format('truetype'),
       url('../fonts/custom-fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg'),
       url('../fonts/custom-fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



/* ==========================================================================
                            Custom Styles
   ========================================================================== */

body { font-family: 'SFProDisplay-Thin'; font-size: 16px; margin:0; padding:0; }
p { color: #383838; }
ul, li { padding:0; margin:0; list-style: none; }
textarea { resize: vertical; }
a:hover { text-decoration: none; }
* html .clearfix { height: 1%; }
body::-webkit-scrollbar { width: 5px; }
body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
body::-webkit-scrollbar-thumb {  background-color: #0a0547; border-radius: 10px; outline: 1px solid slategrey; }
.dropdown-menu::-webkit-scrollbar { width: 5px; }
.dropdown-menu::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
.dropdown-menu::-webkit-scrollbar-thumb {  background-color: #1db954; border-radius: 10px; outline: 1px solid slategrey; }
.ease,a,input[type="submit"],button { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; outline: none!important; }
.mx-1024 { width: 100%; max-width: 1024px; margin: 0 auto;}
.mx-1250 { width: 100%; max-width: 1250px; margin: 0 auto; }
.mx-1440 { width: 100%; max-width: 1440px; margin: 0 auto; }
.relative { position: relative; }
.clearfix:after {visibility: hidden; display: block; font-size: 0; content:""; clear: both; height: 0;}
.clearfix { display: block; clear:both; }
.center-div{position:absolute; top:50%; left:50%; margin-right:-50%; -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%);  transform:translate(-50%,-50%); }
.middle-div{position:absolute; top:50%;  -ms-transform:translate(0,-50%); -webkit-transform:translate(0,-50%); -moz-transform:translate(0,-50%); -o-transform:translate(0,-50%);  transform:translate(0,-50%); }
.hori-div{position:absolute; left:50%;  -ms-transform:translate(-50%,0); -webkit-transform:translate(-50%,0); -moz-transform:translate(-50%,0); -o-transform:translate(-50%,0);  transform:translate(-50%,0); }
.bg-cover { background-size: cover; background-position: center; background-repeat: no-repeat; }

.top-header { background-color:#0b0a0a; padding: 10px 0; }
.top-header li { margin-right: 20px; }
.top-header a { font-family: 'SFProDisplay-Thin'; color:#fff; font-size: 18px; }
.top-header a img { margin-right: 10px; }

.sticky {position: fixed; top:0; }
#content { padding-top: 45px; }

.paddingleft {margin-right: 100px;}


header {top:0;background-color: rgba(0, 0, 0, .75);position: absolute;width: 100%;z-index: 999;}
header .navbar-default {background-color: transparent;border-radius: 0;border:none;margin-bottom: 0;}
header .navbar-brand { height: initial; line-height: 1; margin-left: 0 !important; }
header .navbar-nav>li {padding-top: 20px; padding-bottom: 20px; }
header .navbar-default .main-menu>li>a {font-family: 'SFProDisplay-Thin'; color:#fff; font-size: 18px; }
.navbar-default .main-menu>li>a:focus, .navbar-default .main-menu>li>a:hover {color:#1db954; font-weight: bold; }
.navbar-default .main-menu>.active>a, .navbar-default .main-menu>.active>a:focus, .navbar-default .main-menu>.active>a:hover {background-color: transparent; color: #1db954; font-weight: bold;}
header .main-menu { margin-left: 100px; }
header .main-menu li {margin-right: 30px;}
header .main-menu li:last-child { margin-right: 0; }

header .navbar-right li {padding: 28px 0;}
header .navbar-right li:first-child { margin-right: 10px; }
header .navbar-right li a {padding-top: 7px;padding-bottom: 7px;font-family: 'SFProText-Bold';}
.btn-login {border: 1px solid #1db954; border-radius: 25px; color:#1db954 !important; }
.btn-signup {border: 1px solid #1db954; background-color: #1db954; border-radius: 25px; color:#fff !important; }
.btn-signup:hover { background-color: #1db954 !important; }
.btn-signup:focus { color:#323233 !important; }

.banner-section {/*padding-top: 95px;*/overflow: hidden;}
.banner-section h2 {font-family: 'SFProDisplay-Black';font-size:78px;color:#fff;margin-top: 20px;margin-bottom: 50px;}
.banner-section .banner-links li a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; }
.banner-section .banner-links li { margin-bottom: 10px; }
.banner-section .banner-links li:first-child a { background-color:#ffbf00; border-radius: 25px; color:#323233; width: 175px; display: block; text-align:center; }
.banner-section .banner-links li:nth-child(2) a { background-color:#1db954; border-radius: 25px; color:#fff; width: 175px; display: block; text-align:center; }
.banner-section .banner-links li:last-child a {background-color:#1db954;border-radius: 10px;color:#fff;width: 363px;display: block;text-align:center;padding: 8px 30px;}
.banner-section .platforms {position: absolute;bottom:0;right:0;background-color: rgba(11, 10, 10, .65);padding: 10px 50px;}
.banner-section .platforms:after {border-bottom: 45px solid rgba(11, 10, 10, .65); border-left: 70px solid transparent; content:''; top: 0; position: absolute; left: -70px; }
.banner-section .platforms i { margin-right: 10px; }
.banner-section .platforms li { margin-right: 20px; font-family: 'SFProDisplay-Thin'; color:#fff; font-size: 18px; }
.banner-section .platforms li a {  color:#fff; }
.banner-section .platforms li a:hover {  color:#ffbf00; }
.banner-section .platforms li:last-child { margin-right: 0; }
/*Home Slider*/
.slider-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    top:0; 
    z-index: 10;
    padding-top: 0; 
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    width: 50%;
}
.slider-caption .caption-text{
  padding-top: 100px;
}
.navbar-right {
     margin-right: 0px; 
}
.navbar-nav>li>.dropdown-menu#tournament{
    overflow-x: hidden;
    overflow-y: visible;
    height: 385px;
    overflow: scroll;
}
.section2 { min-height: 780px; padding:50px 0 100px; }
.section2 .title {margin-bottom: 70px;}
.section2 .title h2 { font-family: 'SFProDisplay-Bold'; font-size:35px; color:#323233; margin-top: 0; }
.section2 .title h3 { font-family: 'SFProDisplay-Bold'; font-size:48px; color:#323233; text-transform: uppercase; margin-top: 0; }
.section2 .title h3 span { color:#1db954; }
.section2 .wrapper { padding:0 20px; }
.section2 .wrapper .image-holder { width: 230px; height: 230px; margin:0 auto 40px; line-height: 230px; background-color: #1db954; border-radius: 100%; }
.section2 .wrapper h2 { font-family: 'SFProDisplay-Bold'; font-size:32px; color:#323233; margin-bottom: 30px; }
.section2 .wrapper p { font-family: 'SFProDisplay-Light'; font-size:24px; color:#323233; }

.section3 { background-color: #031428; min-height: 400px; padding:40px 0 20px; }
.section3 > img {position: absolute;z-index: 5;right: 50px;top: -85px;}
.section3 h2 { margin-top: 0; font-family: 'SFProDisplay-Bold'; font-size:40px; color:#fff; line-height: 1.4; margin-bottom: 50px; }
.section3 .section-links li { margin-bottom: 10px; }
.section3 .section-links li:first-child a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#ffbf00; border-radius: 25px; color:#323233; width: 175px; display: block; text-align:center; }
.section3 .section-links li:nth-child(2) a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#1db954; border-radius: 25px; color:#fff; width: 175px; display: block; text-align:center; }
.section3 .section-links li:last-child { margin-bottom: 0; background-color:transparent; border:1px solid #fff; border-radius: 5px;width: 363px;display: block;text-align:left;padding: 4px 30px;}
.section3 .section-links li:last-child a {color:#fff; font-size: 42px; margin-right: 20px; }
.section3 .section-links li:last-child a:hover { color:#ffbf00; }
.section3 .section-links li:last-child p { display: inline-block; font-family: 'SFProDisplay-Light'; font-size:14px; color:#fff; }


.section4 { padding: 150px 0 45px; }
.section4 .title { margin-bottom: 50px; }
.section4 .title h3 { font-family: 'SFProDisplay-Bold'; font-size:48px; color:#323233; text-transform: uppercase; margin-top: 0; position: relative; margin-bottom: 50px; }
.section4 .title h3:before {content: ''; width: 150px; height: 3px; left: 150px; top: 24px; background: #1db954; position: absolute; }
.section4 .title h3:after {content: ''; width: 150px; height: 3px; right: 150px; top: 24px; background: #1db954; position: absolute; }
.section4 .title p { font-family: 'SFProDisplay-Light'; font-size:24px; color:#323233; }
.section4 .section-wrapper {max-width: 1000px; width: 100%; margin:0 auto; }
.section4 li { width: 31%; margin:0 1% 2%; display: inline-block; vertical-align: top; }
.section4 li a {display: block;width: 100%;height:180px;border-radius: 5px; overflow: hidden;}
.section4 li a div {background-color: rgba(29, 185, 84, .85); position: absolute; bottom:0; width: 100%; padding:0 20px;}
.section4 li a div h2 { margin:0; line-height: 1.5; font-family: 'SFProDisplay-Light'; font-size:32px; color:#fff; }


.section5 { background-color: #031428; padding:50px 0; }
.section5 .section-wrapper { max-width: 950px; width: 100%; margin:0 auto; }
.section5 .section-wrapper h2 { font-family: 'SFProDisplay-Bold'; font-size:48px; color:#fff; text-transform: uppercase; margin-bottom: 50px; }
.section5 .section-wrapper p { font-family: 'SFProDisplay-Light'; font-size:32px; color:#fff; line-height: 1.2; margin-bottom: 40px; }
.section5 .section-wrapper iframe { margin:0 auto 50px; }
.section5 .section-links li:first-child a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#ffbf00; border-radius: 25px; color:#323233; width: 175px; display: block; text-align:center; }
.section5 .section-links li:nth-child(2) a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#1db954; border-radius: 25px; color:#fff; width: 175px; display: block; text-align:center; }
.section5 .section-links li:last-child {margin-bottom: 0;background-color:transparent;border:1px solid #fff;border-radius: 5px;text-align:left;padding: 4px 30px;vertical-align: middle;}
.section5 .section-links li:last-child a {color:#fff;font-size: 30px;margin-right: 20px;}
.section5 .section-links li:last-child a:hover { color:#ffbf00; }
.section5 .section-links li:last-child p {display: inline-block;font-family: 'SFProDisplay-Light';font-size:14px;color:#fff;margin-bottom: 0;}


.section6 { padding:50px 0; min-height: 735px; }
.section6 .title {margin-bottom: 70px;}
.section6 .title h3 { font-family: 'SFProDisplay-Bold'; font-size:48px; color:#323233; text-transform: uppercase; }
.section6 .title hr {width: 300px;margin: 30px auto;background-color: #1db954;border-top:3px solid #1db954;}
.section6 .wrapper { padding:0 20px; }
.section6 .wrapper .image-holder { width: 100%; height: 200px; margin:0 auto 20px; line-height: 200px;}
.section6 .wrapper h2 { font-family: 'SFProDisplay-Bold'; font-size:32px; color:#323233; margin-bottom: 30px; }
.section6 .wrapper p { font-family: 'SFProDisplay-Light'; font-size:24px; color:#323233; }


.section7 { min-height: 500px; background-color: #efefef; padding:50px 0; }
.section7 .title { margin-bottom: 40px; }
.section7 .title h2 { font-family: 'SFProDisplay-Bold'; font-size:35px; color:#323233; margin-top: 0; }
.section7 .title hr {width: 300px;margin: 20px auto;background-color: #1db954;border-top:3px solid #1db954;}
.section7 .testimonial-slider { margin-bottom: 50px; }
.section7 .testimonial-slider li { max-width: 650px; width: 100%; margin: 0 auto;  }
.section7 li .image-holder {height:100px;width:100px;margin: 0 auto 30px;border-radius: 100%;}
.section7 li p { font-family: 'SFProDisplay-Light'; font-size:24px; color:#323233; text-align: center; line-height: 1.2; margin-bottom: 20px; }
.section7 li h2 { margin-top: 0; color:#1db954; font-style: 24px; font-family: 'SFProDisplay-Light'; }
.section7 li h3 { margin-top: 0; color:#3b3b3b; font-style: 18px; font-family: 'SFProText-Bold'; }
.section7 .section-links li:first-child a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#ffbf00; border-radius: 25px; color:#323233; width: 175px; display: block; text-align:center; }
.section7 .section-links li:nth-child(2) a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#1db954; border-radius: 25px; color:#fff; width: 175px; display: block; text-align:center; }
.section7 .section-links li:last-child {margin-bottom: 0;background-color:transparent;border:1px solid #171717;border-radius: 5px;text-align:left;padding: 4px 30px;vertical-align: middle;}
.section7 .section-links li:last-child a {color:#171717;font-size: 30px;margin-right: 20px;}
.section7 .section-links li:last-child a:hover { color:#ffbf00; }
.section7 .section-links li:last-child p {display: inline-block;font-family: 'SFProDisplay-Light';font-size:14px;color:#171717;margin-bottom: 0;text-align: left;}
.section7 .owl-nav { position: absolute; top:30%; width: 100%; }
.section7 .owl-nav .owl-prev  { position: absolute; left:0; font-size: 120px; line-height: 1; color:#7c7c7c; }
.section7 .owl-nav .owl-next  { position: absolute; right:0; font-size: 120px; line-height: 1; color:#7c7c7c; }


.section8 .section-a { padding:50px 0; text-align: center; }
.section8 .section-a .title { display: inline-block; border: 3px solid #1db954; padding:0 50px; position: relative; z-index: 2; background-color: #fff; }
.section8 .section-a h2 { margin:0; line-height: 1.5; font-family: 'SFProDisplay-Bold'; font-size:45px; color:#323233; }
.section8 .section-a .line { height: 5px; width: 100%; background-color:#1db954;  }
.section8 .section-b { background-color: #031428; padding:50px 0; }
.section8 .section-b .row { margin-bottom: 100px; }
.section8 .section-b .row:last-child { margin-bottom: 0; }
.section8 .section-b h2 { font-family: 'SFProDisplay-Bold'; font-size: 40px; color:#fff; margin-bottom: 30px; }
.section8 .section-b p { font-family: 'SFProDisplay-Light'; font-size: 20px; color:#fff; line-height: 1.3; }


.section9 { padding:60px 0; min-height: 600px; background-color: #efefef; }
.section9 .title { margin-bottom: 40px; }
.section9 .title h2 { font-family: 'SFProDisplay-Bold'; font-size:35px; color:#323233; margin-top: 0; text-transform: uppercase; }
.section9 .title hr {width: 300px;margin: 20px auto;background-color: #1db954;border-top:3px solid #1db954;}
.section9 .blog-slider { max-width: 1000px; width: 100%; margin:0 auto; }
.section9 li { padding:0 30px; }
.section9 li a {display: block;width: 100%;height:360px;border-radius: 5px; overflow: hidden;}
.section9 li a div {background-color: rgba(29, 185, 84, .85); position: absolute; bottom:0; width: 100%; padding:0 20px;}
.section9 li a div h2 { font-family: 'SFProDisplay-Light'; font-size:25px; color:#fff; }
.section9 li a div p { font-family: 'SFProDisplay-Thin'; font-size:14px; color:#fff; line-height: 1.1; }
.section9 .owl-nav { position: absolute; top:30%; width: 100%; display: block !important; }
.section9 .owl-nav .owl-prev  {position: absolute;left: -80px;font-size: 120px;line-height: 1;color:#7c7c7c;}
.section9 .owl-nav .owl-next  {position: absolute;right: -80px;font-size: 120px;line-height: 1;color:#7c7c7c;}


.section10 { padding:50px 0; }
.section10 h2 { font-family: 'SFProDisplay-Bold'; font-size:48px; color:#1e1e1e; margin-bottom: 50px; }
.section10 p { font-family: 'SFProDisplay-Light'; font-size: 25px; color:#1e1e1e; line-height: 1.2 }
.section10 p a { color:#1db954; }
.section10 p span { color:#c21807; }


.footer { background-color: #191919; padding:50px 0 20px; }
.footer .section-links li:first-child a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#ffbf00; border-radius: 25px; color:#323233; width: 175px; display: block; text-align:center; }
.footer .section-links li:nth-child(2) a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#1db954; border-radius: 25px; color:#fff; width: 175px; display: block; text-align:center; }
.footer .section-links li:last-child {margin-bottom: 0;background-color:transparent;border:1px solid #fff;border-radius: 5px;text-align:left;padding: 4px 30px;vertical-align: middle;}
.footer .section-links li:last-child a {color:#fff;font-size: 30px;margin-right: 20px;}
.footer .section-links li:last-child a:hover { color:#ffbf00; }
.footer .section-links li:last-child p {display: inline-block;font-family: 'SFProDisplay-Light';font-size:14px;color:#fff;margin-bottom: 0;}


.footer .push-bottom { margin-bottom: 40px; }
.footer .footer-links li { margin-bottom: 7px; }
.footer .footer-links li a { font-family: 'SFProDisplay-Thin'; font-size:16px; color:#fff; }
.footer .banks { font-family: 'SFProDisplay-Light'; font-size: 25px; color:#fff; display: inline-block; }


.hvr-shutter-out-horizontal:before {border-radius: 25px; background: #fff; border:#1db954 solid 4px; }
.hvr-shutter-out-horizontal:hover {color:#323233 !important; }
.social-ellipsis,
.account-menu { display: none; }
.login-btn-wrapper { display: none; }

/*My Profile Page*/
.account-section1{min-height: 660px; /*background: #030049;*/ background-image: url('../img/back.png'); background-size:cover; background-position:center; padding-top: 95px; }
.account-section1 .platforms {position: absolute;top: 95px;left: 0;background-color: rgba(11, 10, 10, .65);padding: 10px 50px;min-height: 50px;}
.account-section1 .platforms:after {border-top: 50px solid rgba(11, 10, 10, .65);border-right: 90px solid transparent;content:'';top: 0;position: absolute;right: -90px;}
.account-section1 .platforms li {font-family: 'SFProDisplay-Thin';color:#fff;font-size: 18px;}
.account-section1 .platforms li a {color:#fff;padding: 7px 10px;border-radius: 25px;}
.account-section1 .platforms li a:hover,
.account-section1 .platforms li.active a {  color:#0093E8; }
.account-section1 .platforms li:last-child { margin-right: 0; }
.account-section1 .platforms li.rewards a {    padding-right: 20px; padding-left: 20px; font-size: 13px; background: -webkit-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: -o-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: -ms-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: -moz-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: linear-gradient(to bottom, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); color: #323233; font-family: 'SFProDisplay-Semibold';}
.account-section1 .platforms li.deposit a { color: #ffffff !important;  padding-left: 20px; padding-right: 20px; font-size: 13px; background: -webkit-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -o-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -ms-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -moz-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: linear-gradient(15deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); color: #323233; font-family: 'SFProDisplay-Semibold';    padding-left: 20px; padding-right: 20px; font-size: 13px; background: -webkit-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -o-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -ms-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -moz-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: linear-gradient(15deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); color: #323233; font-family: 'SFProDisplay-Semibold'; }
.account-section1 .platforms li.redeem a {     padding-left: 20px; padding-right: 20px; font-size: 13px; background: -webkit-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -o-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -ms-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -moz-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: linear-gradient(15deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); color: #323233; font-family: 'SFProDisplay-Semibold';}


.account-section1 .main-account {padding-top: 60px;padding-bottom: 10px;}
.account-section1 .tab-panel-holder { text-align: center; }
.account-section1 .customize_tabs {display: inline-block;border: none;margin-bottom: 17px;}
.account-section1 .customize_tabs a { border:none; border-bottom:2px solid transparent !important; color:#fff; font-family: 'SFProDisplay-Semibold'; font-size: 18px; }
.account-section1 .customize_tabs .active a { background: transparent; border:none; border-bottom:3px solid #0093E8 !important; color: #fff; }
.account-section1 .customize_tabs li { margin:0 20px; }
.account-section1 .nav-tabs>li >a:focus,
.account-section1 .nav-tabs>li >a:hover { background: transparent; border: none; border-bottom:3px solid #0093E8 !important; color:#fff; }

.account-section1 .tab-content { margin:0 auto; width: 800px; }
.account-section1 .person-wrapper img {width: 115px;height: 115px;border-radius: 100%;object-fit: cover;}
.account-section1 .person-wrapper h2 { color:#fff; font-family: 'SFProDisplay-Semibold'; font-size: 18px; text-transform: uppercase; letter-spacing: 1px; }
.account-section1 .person-wrapper span { color:#fff; font-family: 'SFProDisplay-Thin'; font-size: 18px; }
.account-section1 .amount h3 { font-family: 'SFProDisplay-Light'; font-size: 18px; color:#1db954; margin-bottom: 20px; font-weight: bold;}
/*.account-section1 .amount .item { text-align: left; margin-bottom: 10px; padding-left: 50px; }*/
.account-section1 .amount label img { margin-right: 10px;  display: inline-block; vertical-align: bottom;}
.account-section1 .amount label span {font-family: 'SFProDisplay-Thin';font-size: 18px;letter-spacing: 1px;margin-right: 10px;display: inline-block;vertical-align: bottom;line-height: 1;}
.account-section1 .amount label {font-family: 'SFProDisplay-Semibold';font-size: 20px;line-height: 16px;color: #fff;}
.account-section1 .tab-content p { color:#fff; }


.signup-modal { margin-top: 125px;  }
.signup-modal .modal-dialog {width: 100%;max-width: 500px;}
.signup-modal .signup-content {padding: 10px 15px;}
.signup-modal .signup-content .col-md-1 {background: #111111;min-height: 400px;padding-top: 20px;padding-bottom: 20px;}
.signup-modal .signup-content .col-md-1 li { margin-bottom: 10px; }
.signup-modal .signup-content .col-md-1 a {position: absolute;font-size: 30px;color:#1db954;left: 0;right: 0;bottom: 25px;}
.signup-modal form { padding:20px; }
.signup-modal .form-group { position: relative; }
.signup-modal .form-control { color:#323233; font-family: 'SFProDisplay-Regular'; border:none; border-bottom: 2px solid #d6d6d6; box-shadow: none; border-radius: 0; }
.signup-modal label {font-family: 'SFProDisplay-Light';font-size: 14px;color:#1db954;letter-spacing: 1px;margin-bottom: 0;}
.signup-modal .form-group i {position: absolute;top: 35px;right:10px; color:#d6d6d6;}
.signup-modal .form-inline select { width: 32%; }
.signup-modal input[type=checkbox] { margin-right: 10px; }
.signup-modal input[type=submit] {font-family: 'SFProDisplay-Bold';font-size: 20px;padding: 10px 50px;display: block;border-radius: 25px;margin: 15px auto 0;outline: none !important;border: none;background: #1aaf4e;color: #fff;}
.promocode { height:0; overflow:hidden; transition: ease .5s; }
.promocode.active { height:35px; }
.promocode.active i { top:10px !important; }


.signup-mobile {padding: 100px 0 20px; background: #031428; display: none; }
.signup-mobile .form-group { position: relative; margin-bottom: 2px; }
.signup-mobile .form-control {background: #5858588a;color:#fff;font-family: 'SFProDisplay-Regular';border:none;box-shadow: none;border-radius: 0;padding-left: 35px;}
.signup-mobile label { font-family: 'SFProDisplay-Light'; font-size: 14px; color:#1db954; letter-spacing: 1px; }
.signup-mobile .form-group i {position: absolute;top: 10px;left: 10px;color:#d6d6d6;}
.signup-mobile .form-inline select { width: 100%; margin-bottom: 1px; padding-left: 10px; }
.signup-mobile input[type=checkbox] { margin-right: 10px; }
.signup-mobile input[type=submit] {font-family: 'SFProDisplay-Bold';font-size: 20px;padding: 10px 50px;display: block;border-radius: 25px;margin: 15px auto 0;outline: none !important;border: none;background: #1aaf4e;color: #fff;}


.login-modal { margin-top: 125px;  }
.login-modal .modal-dialog {width: 100%;max-width: 500px;}
.login-modal .login-content {padding: 10px 15px;}
.login-modal form { padding:20px; }
.login-modal .form-group { position: relative; }
.login-modal .form-control { color:#323233; font-family: 'SFProDisplay-Regular'; border:none; border-bottom: 2px solid #d6d6d6; box-shadow: none; border-radius: 0; }
.login-modal label,
.login-modal label a { font-family: 'SFProDisplay-Light'; font-size: 14px; color:#1db954; letter-spacing: 1px; display: block; }
.login-modal .text-center > a {font-family: 'SFProDisplay-Bold';font-size: 20px;padding: 10px 40px;display: inline-block;border-radius: 10px;margin: 15px auto 20px;outline: none !important;border: none;background: #1aaf4e;color: #fff;}
.login-modal .form-group i {position: absolute;top: 35px;right:10px; color:#d6d6d6;}
.login-modal .form-inline select { width: 32%; }
.login-modal input[type=checkbox] { margin-right: 10px; }
.login-modal input[type=submit] {font-family: 'SFProDisplay-Bold';font-size: 20px;padding: 10px 50px;display: block;border-radius: 25px;margin: 15px auto 20px;outline: none !important;border: none;background: #1aaf4e;color: #fff;}


.account-section1 .chip-checkout {padding-top: 70px;padding-bottom: 10px; max-width: 500px; width: 100%; margin: 0 auto;}
.account-section1 .chip-checkout .form-group label {font-family: 'SFProDisplay-Semibold'; font-size: 18px; color:#fff; }
.account-section1 .chip-checkout .form-group label i {font-size: 10px; background: #fff; color:#000; width: 15px; height: 15px; line-height: 15px; text-align: center; border-radius: 100%; margin-left: 10px; }
.account-section1 .chip-checkout .form-group .form-control {text-align: center; background: transparent; border:none; border-bottom: 2px solid #1db954; border-radius: 0; box-shadow: none; outline: none !important; font-family: 'SFProDisplay-Regular'; font-size:18px; color:#fff; }
.account-section1 .chip-checkout .btn-choice button {background: transparent;font-family: 'SFProDisplay-Semibold';font-size: 16px;color:#fff;width: 100%;border: 1px solid #1db954;padding: 5px;border-radius: 25px;}
.account-section1 .chip-checkout .btn-choice button img { margin-right: 10px;}
.chip-checkout .page-header { color:#fff; font-weight: 600; }
.account-section1 .chip-checkout .row { margin-bottom: 10px; }
.account-section1 .chip-checkout button[type=submit] {font-family: 'SFProDisplay-Bold';font-size: 18px;padding: 10px 50px;display: block;border-radius: 10px;margin: 15px auto 20px;outline: none !important;border: none;background: #1aaf4e;color: #fff;}
.account-section1 .chip-checkout button[type=submit] img { margin-right: 10px; }
.account-section1 .chip-checkout .payment-radio { margin-bottom: 30px; }
.account-section1 .chip-checkout .payment-radio label {margin-bottom: 0;height: 55px;line-height: 53px;font-family: 'SFProDisplay-Thin';font-size: 16px;color: #fff;display: inline-block;vertical-align: middle;border-right:1px solid #c7c6c6;border-collapse: collapse;max-width: 25%;width: 100%;padding: 0 5px; background: #1e5799; background: -moz-linear-gradient(top, #fefdfd,#b6b6b6); background: -webkit-linear-gradient(top, #fefdfd,#b6b6b6); background: linear-gradient(to bottom,#fefdfd,#b6b6b6);} .account-section1 .payment-radio label img { max-width: 100%; }
.account-section1 .chip-checkout .payment-radio label:first-child {border-radius: 5px 0 0 5px; }
.account-section1 .chip-checkout .payment-radio label:last-child {border-radius: 0 5px 5px 0; border-right:0; }
.account-section1 .chip-checkout .payment-radio label.active {background: #0d8bce; background: -moz-linear-gradient(top, #0d8bce,#075577); background: -webkit-linear-gradient(top, #0d8bce,#075577); background: linear-gradient(to bottom,#0d8bce,#075577); }
.account-section1 .chip-checkout .form-group label {font-family: 'SFProDisplay-Semibold'; font-size: 18px; color:#fff; }
.account-section1 .chip-checkout .form-group label i {font-size: 10px; background: #fff; color:#000; width: 15px; height: 15px; line-height: 15px; text-align: center; border-radius: 100%; margin-left: 10px; }
.account-section1 .chip-checkout .form-group span { display: block; font-family: 'SFProDisplay-Semibold'; font-size: 20px; color:#fff; }
.account-section1 .chip-checkout .chip-checkout h3 {font-family: 'SFProDisplay-Light';font-size: 14px;color:#1db954;margin:10px 0 20px;display: inline-block;}
.account-section1 .chip-checkout .code-wrapper {background: #1e1e1e;padding:2px;border-radius: 5px;margin-bottom: 10px;}
.account-section1 .chip-checkout .code-wrapper .wrapper-header {background: #0093e8; border-radius: 5px 5px 0 0; padding:0 10px; }
.account-section1 .chip-checkout .code-wrapper .wrapper-content { padding:10px; }
.account-section1 .chip-checkout .code-wrapper .wrapper-content .clearfix { margin-bottom: 10px; }
.account-section1 .chip-checkout .code-wrapper h2 {line-height: 35px;font-family: 'SFProDisplay-Semibold';font-size:18px;color:#fff;text-transform: uppercase;margin:0;}
.account-section1 .chip-checkout .code-wrapper p { font-family: 'SFProDisplay-Light'; font-size: 11px; color:#fff; }
.account-section1 .chip-checkout .code-wrapper .clearfix label,
.account-section1 .chip-checkout .code-wrapper .clearfix a { font-family: 'SFProDisplay-Light'; font-size: 11px; color:#1db954; }
.account-section1 .chip-checkout .code-wrapper .clearfix label span { margin-left: 5px; color:#fff; }
.account-section1 .chip-checkout .code-wrapper .wrapper-content > button {font-family: 'SFProDisplay-Bold';font-size: 16px;padding: 10px 40px;display: inline-block;border-radius: 15px;outline: none !important;border: none;background: #1aaf4e;color: #fff;}

.close-on-mobile { display: none; }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {background: transparent; color: #0093E8; }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {background: transparent; color: #0093E8 !important; }
.navbar-default .navbar-nav .open .dropdown-menu>li>a {font-family: 'SFProDisplay-Thin'; color: #fff; font-size: 18px; line-height: 25px; width: 100%; display: block; }
.navbar-default .navbar-nav .open .dropdown-menu>li {margin-right: 0; border-bottom: 1px solid #1db954; padding: 5px 0;}
.navbar-nav>li>.dropdown-menu {background-color: rgba(0, 0, 0, .9); }


.account-section1 .my-profile {padding-top: 60px;padding-bottom: 50px;}
.account-section1 .my-profile .customize_tabs { margin-bottom: 30px; }
.account-section1 .my-profile .form-group { text-align: left; }
.account-section1 .my-profile .form-group label { font-family: 'SFProDisplay-Light'; font-size:14px; color:#1db954; letter-spacing: 1px; }
.account-section1 .my-profile .form-control {background:transparent; border:none; box-shadow: none; border-bottom:2px solid #324050; border-radius: 0; font-family: 'SFProDisplay-Regular'; font-size:18px; color:#fff; }
.account-section1 .my-profile input[type=radio] { margin-right: 5px; }
.account-section1 .my-profile .form-group li label {font-family: 'SFProDisplay-Light'; font-size:14px; color:#fff; letter-spacing: 1px; }
.account-section1 .my-profile .profile-forms p { color:#0093e8; font-family: 'SFProDisplay-Thin'; font-size: 13px; }

.account-section1 .my-profile button[type=submit] {font-family: 'SFProDisplay-Bold';font-size: 18px;padding: 10px 50px;display: block;border-radius: 10px;margin: 15px auto 20px;outline: none !important;border: none;background: #1aaf4e;color: #fff;}
.account-section1 .my-profile button[type=submit] img { margin-right: 10px; }
.account-section1 .my-profile .password-field {max-width: 400px;margin: 0 auto;width: 100%;}
.g-recaptcha > div { margin:0 auto; }

.account-section1 .my-profile button[type=submit] { margin: 0 auto; }





/*VINCE*/

.menu-1{background: rgba(0, 0, 0, 0.80); }
.menu-2 {display: none; min-height: 246px !important;}
.navbar-collapse {padding:0px;}

.menu-2 li {margin-bottom: 5px; margin-left: 8px; padding-top: 7px; }
.menu-2 li a {color: #000000;}
.inline-tab {display: inline-block;}
.new-tab { margin-top: 30px; text-align: center; }
.new-tab .list-unstyled {text-align: center;}
.new-tab .list-unstyled ul {display: inline-block !important;}
.new-tab .list-unstyled li {display: inline-block !important;}

.new-tab .list-unstyled a {  cursor: pointer;   padding: 10px 20px;   background: transparent; border: none;  color: #fff;     font-family: 'SFProDisplay-Semibold'; font-size: 18px;}
.new-tab .list-unstyled .active a {    background: transparent; border: none; border-bottom: 3px solid #0093E8 !important; color: #fff;}
.new-tab .list-unstyled li {margin: 0; border-right: 1px solid #fff; }
.new-tab .list-unstyled li:last-child { border-right: 0; }
.new-tab #cashier {display: block;}
.new-tab #stats, .new-tab #tickets {display: none;}
.center {text-align: center;}
.new-tab .person-wrapper {margin-top: 40px;}
.account-section1 .amount .item {margin-bottom: 10px; padding:0 10px; }
.account-section1 .amount .real-balance { margin-bottom: 50px; }
.account-section1 .amount .other-balance { margin-bottom: 100px; }
.new-tab .list-unstyled  a:focus { text-decoration: none;   background: transparent; border: none; border-bottom: 3px solid #0093E8 !important; color: #fff;}
.new-tab .list-unstyled   a:active { text-decoration: none;   background: transparent; border: none; border-bottom: 3px solid #0093E8 !important; color: #fff;}

.new-tab .list-unstyled   a:hover { text-decoration: none;   background: transparent; border: none; border-bottom: 3px solid #0093E8 !important; color: #1db954;}
.new-tab .list-unstyled .active { text-decoration: none;   background: transparent; border: none; border-bottom: 3px solid #0093E8 !important; color: #1db954;}

.new-tab .list-unstyled  .active a { text-decoration: none;   background: transparent; border: none; border-bottom: 3px solid #0093E8 !important; color: #fff;}
/**/

.new-tab p {color: #ffffff; margin-top: 40px;}
.bottom-menu { background-color: #1db954; color: #fff; font-weight: bold; font-size: 18px; letter-spacing: 1px; position: fixed; bottom:0; width: 100%; z-index:111; height: 50px;}
.bottom-menu p { line-height: 35px; margin-bottom: 0; color: #fff; padding:5px 0;}
.bottom-menu img { margin-right: 10px; }
/*Sticky Icons */
.rewards a , .deposit a, .reedem a { color: #fff; }
.rewards { position: fixed; right: 0; bottom: 50%; color: #fff; background: orange; padding: 5px 20px 5px 10px; border-radius: 15px;   margin-right: -15px; font-weight: bold; margin-bottom: 10px; z-index: 9999;}
.deposit { position: fixed; right: 0; bottom: 44%; color: #fff; background: red; padding: 5px 20px 5px 10px; border-radius: 15px;   margin-right: -15px; font-weight: bold; margin-bottom: 10px; z-index: 9999;}
.reedem { position: fixed; right: 0; bottom: 38%; color: #fff; background: green; padding: 5px 20px 5px 10px; border-radius: 15px;   margin-right: -15px; font-weight: bold; margin-bottom: 10px; z-index: 9999;}
.menu-2 li.rewards a {padding-right: 20px; padding-left: 20px; font-size: 13px; background: -webkit-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: -o-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: -ms-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: -moz-linear-gradient(top, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); background: linear-gradient(to bottom, rgb(243, 182, 0) 0%, rgb(226, 170, 0) 76%, rgb(200, 146, 0) 100%); color: #323233; font-family: 'SFProDisplay-Semibold'; padding: 6px 7px 5px 7px; border-radius: 5%; }
.menu-2 li.redeem a {padding-right: 20px; padding-left: 20px; font-size: 13px; background: -webkit-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -o-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -ms-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: -moz-linear-gradient(75deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); background: linear-gradient(15deg, rgb(219, 83, 25) 0%, rgb(240, 98, 36) 100%); color: #323233; font-family: 'SFProDisplay-Semibold'; padding: 6px 7px 5px 7px; border-radius: 5%; }

.menu-2 li.deposit a {color: #ffffff !important; padding-right: 20px; padding-left: 20px; font-size: 13px; background: -webkit-linear-gradient(top, rgb(27, 179, 79) 0%, rgb(19, 151, 67) 85%, rgb(11, 134, 54) 100%); background: -o-linear-gradient(top, rgb(27, 179, 79) 0%, rgb(19, 151, 67) 85%, rgb(11, 134, 54) 100%); background: -ms-linear-gradient(top, rgb(27, 179, 79) 0%, rgb(19, 151, 67) 85%, rgb(11, 134, 54) 100%); background: -moz-linear-gradient(top, rgb(27, 179, 79) 0%, rgb(19, 151, 67) 85%, rgb(11, 134, 54) 100%); background: linear-gradient(to bottom, rgb(27, 179, 79) 0%, rgb(19, 151, 67) 85%, rgb(11, 134, 54) 100%); color: #323233; font-family: 'SFProDisplay-Semibold'; padding: 6px 7px 5px 7px; border-radius: 5%; }

.new-tab .win {padding-right: 15px;}
.new-tab .bonus {padding-right: 11px;}
.new-tab .ucb {padding-right: 13px;}
.new-tab .freemoney {padding-left: 32px;}
/*Profile Page*/
#myprofile {display: block; margin-top: 40px; margin-bottom: 40px;}
#changepassword {display: block; margin-top: 40px; margin-bottom: 40px;}
#KYC {display: block; margin-top: 40px; margin-bottom: 40px;}
.profile-forms .form-group label, #cheque .form-group label, .online-form .form-group label {font-family: 'SFProDisplay-Light'; font-size: 14px; color: #1db954; letter-spacing: 1px; }
.profile-forms .form-control , #cheque .form-control, .online-form .form-control{background: transparent; border: none; box-shadow: none; border-bottom: 2px solid #324050; border-radius: 0; font-family: 'SFProDisplay-Regular'; font-size: 18px; color: #fff; }
.profile-forms .form-control[disabled] { background: #fff; color: #000; }
.profile-forms p { font-family: 'SFProDisplay-Thin'; font-size: 14px; text-align: center !important; letter-spacing: 1px; font-weight: 600;}
.profile-forms input.btn { background: #1db954; color: #fff; font-size: 18px; font-weight: bold; letter-spacing: 1px; padding: 5px 30px; border-radius:20px; font-family: 'SFProDisplay-Light'; border:3px solid #1db954;}
.profile-forms input.btn:hover { background: #fff; border:3px solid #1db954; }
#aadharKyc .page-header, #panKyc .page-header, #cheque .page-header{ color: #fff; margin:20px 0 20px; font-weight: bold;  }
#aadharKyc .form-control, #panKyc .form-control{background: transparent; border: none; box-shadow: none; border-bottom: 2px solid #324050; border-radius: 0; font-family: 'SFProDisplay-Regular'; font-size: 18px; color: #fff; }
#aadharKyc .form-group label, #panKyc .form-group label {font-family: 'SFProDisplay-Light'; font-size: 14px; color: #1db954; letter-spacing: 1px; }
#aadharKyc input[type=file] { border: 1px solid #fff; padding: 2px; }
#aadharKyc .filetext1 { color: #fff; font-size: 12px; font-weight: 600; letter-spacing: 1px; }
#aadharKyc a { color:#1db954; }
#aadharKyc input.btn , #panKyc input.btn { background: #1db954; color: #fff; font-size: 18px; font-weight: bold; letter-spacing: 1px; padding: 5px 30px; border-radius:20px; font-family: 'SFProDisplay-Light'; border:3px solid #1db954;}
#aadharKyc input.btn:hover , #panKyc input.btn:hover { background: #fff; border:3px solid #1db954; }
#changepassword .form-group label {
    font-family: 'SFProDisplay-Light';
    font-size: 14px;
    color: #1db954;
    letter-spacing: 1px;
}
/*Withdrawl Chips*/
.account-section1 #cheque, .account-section1 #online {padding-top: 60px;padding-bottom: 50px;}
#cheque #c_state option, #c_country option{ color: #000; }
#cheque button[type=submit], .online-form button[type=submit]  {font-family: 'SFProDisplay-Bold';font-size: 18px;padding: 10px 50px;display: block;border-radius: 10px;margin: 15px auto 20px;outline: none !important;border: none;background: #1aaf4e;color: #fff;}
#cheque button[type=submit] img, .online-form button[type=submit] img{ margin-right: 10px; }
.online-form .form-control[disabled] { background: #fff; color: #000; }
#changepassword .form-control {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #324050;
    border-radius: 0;
    font-family: 'SFProDisplay-Regular';
    font-size: 18px;
    color: #fff;
}


#changepassword button {
    font-family: 'SFProDisplay-Bold';
    font-size: 18px;
    padding: 10px 50px;
    display: block;
    border-radius: 10px;
    margin: 15px auto 20px;
    outline: none !important;
    border: none;
    background: #1aaf4e;
    color: #fff;
}
/*Transaction Page*/
.account-section1.transaction .tab-content { margin:0 auto; width: 1000px; }
#purchase, #alltransaction { padding: 50px 0; }
#purchase .form-inline.form-group label, #alltransaction .form-inline.form-group label{
    font-family: 'SFProDisplay-Light';
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}
#purchase .form-inline.form-group, #alltransaction .form-inline.form-group {
    display: inline-block;
    vertical-align: middle; 
}
#purchase .profile-forms .form-inline.form-group .form-control, #alltransaction .profile-forms .form-inline.form-group .form-control{
    background: #fff;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #324050;
    border-radius: 25px;
    font-family: 'SFProDisplay-Regular';
    font-size: 16px;
    color: #000;
    width: 100px;
    height: 20px;
    text-align:center;
}
#purchase table, #alltransaction table { font-family: 'SFProDisplay-Regular'; font-size: 14px;}
#purchase .table-striped>thead>tr, #alltransaction .table-striped>thead>tr { background: #1db954; color: #fff; font-weight: bold; letter-spacing: 1px; text-align: center;}
#purchase .table-striped>tbody>tr:nth-of-type(odd), #alltransaction .table-striped>tbody>tr:nth-of-type(odd) { background-color: #f4f4f4; color: #030049; font-weight: bold; letter-spacing: 1px;}
#purchase .table-striped>tbody>tr:nth-of-type(even), #alltransaction .table-striped>tbody>tr:nth-of-type(even) { background-color: #e2e0ff; color: #030049; font-weight: bold; letter-spacing: 1px;}
.table>thead:first-child>tr:first-child>th { text-align: center; }
/*Withdraw Transaction*/
.total-balance { padding: 20px 0; }
.total-balance p { color:#fff;  font-family: 'SFProDisplay-Regular'; margin-bottom: 2px; }
.total-balance a { color:#1db954;  font-family: 'SFProDisplay-Regular'; margin-bottom: 2px; }
.pl-5 { padding-left: 10px; }
.total-balance i { font-size: 10px;
    background: #fff;
    color: #000;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 100%;
    margin-left: 10px;
  }
.pop-up-balance { display: none; border: 1px solid rgb(29, 185, 84); padding: 5px; width: 200px; position: absolute; background: rgb(29, 185, 84); right: 15px; z-index: 99; }
.total-balance i::hover .pop-up-balance {
  display: inline-block;
}
#withdraw, #tds { padding: 50px 0; }
#withdraw .form-inline.form-group label, #tds .form-inline.form-group label, .online-form .form-group label {
    font-family: 'SFProDisplay-Light';
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}
#withdraw .form-inline.form-group, #tds .form-inline.form-group {
    display: inline-block;
    vertical-align: middle; 
}
#withdraw .profile-forms .form-inline.form-group .form-control, #tds .profile-forms .form-inline.form-group .form-control{
    background: #fff;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #324050;
    border-radius: 25px;
    font-family: 'SFProDisplay-Regular';
    font-size: 16px;
    color: #000;
    width: 100px;
    height: 20px;
    text-align:center;
}
#withdraw table, #tds table { font-family: 'SFProDisplay-Regular'; font-size: 14px;}
#withdraw .table-striped>thead>tr, #tds .table-striped>thead>tr { background: #1db954; color: #fff; font-weight: bold; letter-spacing: 1px; text-align: center;}
#withdraw .table-striped>tbody>tr:nth-of-type(odd), #tds .table-striped>tbody>tr:nth-of-type(odd) { background-color: #f4f4f4; color: #030049; font-weight: bold; letter-spacing: 1px;}
#withdraw .table-striped>tbody>tr:nth-of-type(even), #tds .table-striped>tbody>tr:nth-of-type(even) { background-color: #e2e0ff; color: #030049; font-weight: bold; letter-spacing: 1px;}
/*Leaderboard Page*/
.leaderboard .new-tab .list-unstyled li { margin-bottom: 15px; }
.leaderboard .profile-forms p { text-align: left !important; }
.account-section1.leaderboard .tab-content { margin:0 auto; width: 1000px; }
/*#monthly, #daily, #yearly, #month-mvp { padding: 20px 0; }*/
.leaderboard .form-inline.form-group label{
    font-family: 'SFProDisplay-Light';
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}
.leaderboard .form-inline.form-group {
    display: inline-block;
    vertical-align: middle; 
}
.leaderboard .profile-forms .form-inline.form-group .form-control{
    background: #fff;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #324050;
    border-radius: 25px;
    font-family: 'SFProDisplay-Regular';
    font-size: 16px;
    color: #000;
    width: 100px;
    height: 20px;
    text-align:center;
}
.leaderboard table { font-family: 'SFProDisplay-Regular'; font-size: 14px;}
.leaderboard .table-striped>thead>tr { background: #1db954; color: #fff; font-weight: bold; letter-spacing: 1px; text-align: center;}
.leaderboard .table-striped>tbody>tr:nth-of-type(odd) { background-color: #f4f4f4; color: #030049; font-weight: bold; letter-spacing: 1px;}
.leaderboard .table-striped>tbody>tr:nth-of-type(even) { background-color: #e2e0ff; color: #030049; font-weight: bold; letter-spacing: 1px;}
.leaderboard .page-header { font-weight: bold; color: #fff; letter-spacing: 1px; }
.stacklayer {
    background-color: #f4f4f4;
    border-bottom: 2px solid #a4a4a4;
    float: left;
    margin: 0;
    padding: 2% 0;
    width: 100%;
    font-family: 'SFProDisplay-Regular';
}
.stacklayertxt {
    color: #030049;
    float: left;
    font-size: 14px;
    padding: 0 5%;
    text-transform: uppercase;
    font-weight: bold; letter-spacing: 1px;
}
.stacklayertxt1 {
    color: #030049;
    float: right;
    font-size: 14px;
    padding: 0 5%;
    text-transform: uppercase;
    font-weight: bold; letter-spacing: 1px;
}
.account-section1.leaderboard .amount .other-balance .col-sm-4.col-xs-12 { margin-bottom: 20px; }
.account-section1.leaderboard  .amount p img { margin-right: 10px;  display: inline-block; vertical-align: bottom;}
.account-section1.leaderboard  .amount p span {font-family: 'SFProDisplay-Thin';font-size: 18px;letter-spacing: 1px;margin-right: 10px;display: inline-block;vertical-align: bottom;line-height: 1;}
.account-section1.leaderboard  .amount p {font-family: 'SFProDisplay-Semibold';font-size: 20px;line-height: 16px;color: #fff;}


/*Inner Promotion Page*/
.account-section2{min-height: 660px; background-size:cover; background-position:center; padding-top: 95px; }
.account-section2 .new-tab .list-unstyled   a:hover { text-decoration: none;   background: transparent; border: none; border-bottom: 3px solid #333 !important; color: #252525;}
.account-section2 .new-tab .list-unstyled .active { text-decoration: none;   background: transparent; border: none; border-bottom: 3px solid #333 !important; color: #252525;}
.account-section2 .new-tab .list-unstyled a { color:#001d77; }
.inner-promotion { font-family: 'SFProDisplay-Thin'; }
.section-padding { padding: 20px 0; }
.promotion-heading { font-family: 'SFProDisplay-Thin'; font-weight: bold; color:#252525; letter-spacing: 1px; text-transform: uppercase; font-size: 32px; margin-bottom: 15px; align-content: center;}
.satellite-heading { font-family: 'SFProDisplay-Semibold'; color:#252525; letter-spacing: 1px; font-size: 20px; margin-bottom: 15px; align-content: center;}
.target-heading { font-family: 'SFProDisplay-Semibold'; color:#252525; letter-spacing: 1px; font-size: 20px; margin-bottom: 15px; align-content: center; text-transform: uppercase;}
.inner-promotion p { font-size: 14px; color:#323232; text-align: left; letter-spacing: 1px; font-weight: bold; text-align: justify;}
.tabel-container { max-width: 100%; margin: 0 auto; }
.inner-promotion table { font-family: 'SFProDisplay-Regular'; font-size: 12px;}
.inner-promotion .table-striped>thead>tr { background: #fff; border-top: 1px solid #efefef; color: #5f5f5f; font-weight: bold; letter-spacing: 1px; text-align: center; font-size: 16px;}
.inner-promotion .table-striped>tbody>tr:nth-of-type(odd) { background-color:#efefef; color: #323232; font-weight: bold; letter-spacing: 1px;}
.inner-promotion .table-striped>tbody>tr:nth-of-type(even) { background-color: #ffffff; color: #323232; font-weight: bold; letter-spacing: 1px;}
.terms-condition { padding: 50px 0; }
.promotionimg { background-color: #f6f4f7; text-align: center; color: #333; text-transform: uppercase; padding: 2% 0px; margin: 0px 0px 15px; font-family: 'SFProDisplay-Semibold'; 
}
p.para_4 { font-size: 12px; line-height: 14px; color: #333; text-align: center; }
p.para_3 { font-size: 16px; line-height: 20px; color: #333; text-align: center; }
p.para_2 { font-size: 30px; font-weight: bold; margin-top: -20px; color: #333; text-align: center; }
p.para_1 { font-size: 24px; font-weight: bold; color: #333; text-align: center; }

.inner-promotion p.terms {
    color: #252525;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
}
.inner-promotion ul { color: #fff; }
.inner-promotion ul li { list-style: disc; text-align: justify; }
.tournamentimg, .deposit-code { padding: 30px 0; }
/*.deposit-code .topspace1 { padding-top: 50px; }*/
/*Promotion Page*/
.promotion h2 { color:#fff; font-weight: bold; font-family: 'SFProDisplay-Bold'; }
.promotionpagebreak { padding: 50px 0; }
h2.promotionshead { font-size: 18px; color: #fff; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; font-family: 'SFProDisplay-Bold'; background-color: #1db954; padding: 15px 0; margin-bottom: 0;}
.promotion { text-align: center; padding: 100px 0 50px; }
.promotion img { margin: 0 auto; }
.promotion p { font-size: 16px; color:#000; text-align: center; letter-spacing: 1px; font-family: 'SFProDisplay-Semibold'; padding: 5px 2px;}
.promotion .btn { background-color: #1db954; border-radius: 15px; padding: 5px 10px; font-family: 'SFProDisplay-Semibold'; border-radius: 25px; color: #fff; width: 120px; text-align: center; }
.promotion .topspace1 { margin: 0% 0 4%; }
.column { margin-top: 20px; display: none;  }
.vip-container.row { margin-right: 0; margin-left: 0; }
.vip-container p { padding: 10px; }
.vip-target { background-color: #f9f9f9; padding: 10px; border:1px solid #efefef;font-family: 'SFProDisplay-Semibold'; letter-spacing: 1px; margin-bottom: 5px;}
#vip1, #vip2, #vip3, #vip4, #vip5, #vip6, #vip7, #vip8, #vip9, #vip10, #vip11, #vip12, #vip13, #vip14, #vip15, #terms { float: right; }
.vip-container .fa-times-circle, .fa-times-circle { color: #ff0000; }
#termsncondition ol { font-size: 13px; }
.instant {
    padding: 10px 30px;
    font-family: 'SFProDisplay-Bold';
    background-color: #1db954;
    border-radius: 10px;
    color: #fff;
    width: 300px;
    display: block;
    text-align: center;
    margin: 20px auto;
}
.hvr-shutter-out-horizontal.instant:before { 
  border-radius: 10px;
 }
 #termsncondition {
  border: 1px solid #efefef;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  #termsncondition li { list-style: unset; font-weight: bold;
    letter-spacing: 1px; }
  #terms-heading { font-family: 'SFProDisplay-Semibold'; }
  .download {
    padding: 10px 30px;
    font-family: 'SFProDisplay-Bold';
    background-color: #ffbf00;
    border-radius: 25px;
    color: #323233;
    width: 175px;
    display: block;
    text-align: center;
    margin: auto;
  }
  .relatedContentItem {
    margin-bottom: 15px;
    border-bottom: 1px dashed #e7e7e7;
}
/* Content */
.content {
    background-color: white;
    padding: 0 0 10px;
    min-height: 470px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #333;
   color: white;
}
.promotion .btn.active { background-color: #001d77; }
.tophead-htp .btn {
    background-color: #1db954;
    border-radius: 15px;
    padding: 5px 10px;
    font-family: 'SFProDisplay-Semibold';
    border-radius: 25px;
    color: #fff;
    width: 120px;
    text-align: center;
}
/*Rewards Page*/
.reward-cashback p { font-family: 'SFProDisplay-Light';  font-weight: 500; font-size: 14px;}
.cashback-tab { background: #efefef; padding: 5px 0 10px;}
.cashback-tab .new-tab { margin-top: 0; }
.cashback-tab .new-tab .list-unstyled a { padding: 0 10px 5px; font-size: 16px; }
.account-section2 .cashback-tab .new-tab .list-unstyled a:hover, .account-section2 .cashback-tab .new-tab .list-unstyled .active {
    text-decoration: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #1db954 !important;
    color: #1db954;
}
.account-section2 .tab-content { max-width: 800px; margin: 0 auto; }
.account-section2 .cashback-tab .new-tab .list-unstyled a { color:#333; }
.account-section2.reward-cashback .tab-content p { color: #333; }
#rewards, #cashback { padding: 30px 0; }
.time-heading { font-family: 'SFProDisplay-Semibold'; font-size: 16px; margin-top: 5px; margin-bottom: 5px;}
#cashback .table {
    width: 100%;
    margin: 20px 0;
}
.cq-table {
  overflow-x: auto;
  width: 700px;
  margin:0 auto;
}
.cq-table table {
  width: 100%;
}
#cashback table th {
    line-height: 14px;
    color: #FFF;
    border: solid 1px #404040;
    padding: 6px 8px;
    background-color: #686868;
    background-image: -webkit-linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    background-image: -moz-linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    background-image: -o-linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    background-image: -ms-linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    background-image: linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    border-top: 0;
}
.cq-table table th, .cq-table table td {
    padding: 6px 8px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    border-right: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
.parbase.table th {
    color: #FFF;
    background: #222;
    vertical-align: middle;
}
.parbase.table th {
    color: #FFF;
}
.parbase.table th, .parbase.table td {
    padding: 6px 8px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    background: #efefef;
}
.cq-table table th {
    line-height: 14px;
    color: #FFF;
    border: solid 1px #404040;
    padding: 6px 8px;
    background-color: #686868;
    background-image: -webkit-linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    background-image: -moz-linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    background-image: -o-linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    background-image: -ms-linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    background-image: linear-gradient(top,#000 0,#686868 2px,#505050 3px,#222 100%);
    border-top: 0;
}
.cq-table table tr td:first-child {
    border-left: 0;
}
.cashback-terms, .switch { width: 85%; font-size: 12px; margin-bottom: 20px;}
.switch .vip-container.row { margin-top: 10px; }
.label-container { background-image: url('../img/rewards/label.png'); background-size: 100%; height: 60px; text-align: center; }
.label-container span { font-family: 'SFProDisplay-Semibold'; font-size: 22px; line-height: 35px;  }
.rewards-img-container { min-height: 180px; }
.rewards-container .text-info { margin-top: 10px; margin-bottom: 20px; }
.rheading p { font-size: 18px; }
.rewards-container { margin-bottom: 20px; padding: 0 10px; }
#rewards .owl-carousel .owl-nav .owl-prev { position: absolute; top:30%; left:-5%; }
#rewards .owl-carousel .owl-nav .owl-next { position: absolute; top:30%; right:-5%; }
#rewards .fa.fa-angle-left, #rewards .fa.fa-angle-right { font-size: 30px; }
.switch ol {
    font-size: 14px; font-family: 'SFProDisplay-Regular'; letter-spacing: 1px;
}
.switch ul{
  font-size: 16px; font-family: 'SFProDisplay-Regular'; letter-spacing: 1px; margin: 2%;
}
.switch li { list-style-type: unset; }
.f15-ans, .f14-ans, .f13-ans, .f12-ans, .f11-ans, .f10-ans, .f9-ans, .f8-ans, .f7-ans, .f6-ans, .f5-ans, .f4-ans, .f3-ans, .f2-ans, .f1-ans { border: 1px solid rgb(239, 239, 239); }
/*Hand Ranking Page*/
.account-section3{min-height: 660px; background-size:cover; background-position:center; padding-top: 95px; padding-bottom: 20px;}
.account-section3 .new-tab .list-unstyled   a:hover { text-decoration: none;   background: transparent; border: none; border-bottom: 3px solid #333 !important; color: #001d77;}
.account-section3 .new-tab .list-unstyled .active { text-decoration: none;   background: transparent; border: none; border-bottom: 3px solid #001d77 !important; color: #001d77;}
.account-section3 .new-tab .list-unstyled a { color:#252525; }
.ranking-text { padding: 20px 0; }
.hand-ranking h2 { font-family: 'SFProDisplay-Semibold'; color:#001d77; }
.hand-ranking p { font-family: 'SFProDisplay-Regular'; font-size: 18px; font-weight: 500; letter-spacing: 1px;}
.heading-image { padding-right: 5px; height: 40px; background:#fff;}
.hand-ranking h3 { font-family: 'SFProDisplay-Semibold'; color:#001d77; }
.hand-ranking h3::before {  position: absolute;  content: " "; border:1px solid #001d77; top:47px; left: 10%; width: 80%; z-index: -1; }
.hand-ranking h3 span { background-color: #fff; padding-right: 5px;}
.ranking-container { padding: 10px; }
.ranking-container p { font-size: 14px; min-height: 80px;}
.ranking-container p.exception { min-height: 100px;}
.games-card{ height: 200px; margin: 0 auto 20px; display: block; max-width: 100%; }


.pad{
  margin: 5%;
}
.pad1{
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.ul {
    list-style-type: none;
    }


.l li{
    margin-bottom: 1%;
  }
.li:hover{

    
    margin-top: 5%;
    box-shadow: 0px 8px 5px lightgrey;
    padding: 5%;
    margin-top: 20%;
}

.li{
padding: 5%;
margin-top: 10%;
font-size: 15px;
font-family: 'SFProDisplay-Semibold';
}
.li img{
  width: 40%;
}

.ul .active{
  box-shadow: 0px 8px 5px lightgrey;
}

@media(max-width: 768px){
  .ul{
    margin-bottom: 10%;
  }
  .li{
    margin-left: 20%;
    margin-right: 20%;
  }
  .li img{
    width: 30%;
    height: 50%;
  }
  .new-tab .list-unstyled ul li{
    margin: 10px;
  }
}


@media(max-width: 425px){
  

  /*.container{
    padding-right: 0px;
    padding-left: 0px;
  }*/
  .row .col-md-12{
    padding: 0px;
  }
  .row .col-md-6{
    padding: 0px;
  }
  .ul{
    margin-top: 30%;
    margin-bottom: 20%; 
  }
  .li{
    margin-left: 30%;
    margin-right: 30%;
  }
  .li img{
    width: 100%;
    height: 100%;
  }
  /*.vip-target img{
    height: 100%;
  }*/
  .img-responsive1{
    width: 7%;
  }
  .col-md-10 iframe{
    width: 100%;
    height: 100%;
  }
  .hand-ranking p{
    font-size: 14px;
  }
  h2{
    font-size: 16px;
  }
  h4{
    font-size: 14px;
  }
  .switch1 ul li{
    font-size: 12px;
  }
  .row{
    padding:0px;
  }
  .pad{
    margin: 0px;
  }
  .new-tab .list-unstyled ul li{
    margin: 2px;
  }
  /*.img-responsive{
    width: 80%;
  }*/
}
@media(max-width: 414px){
  .li img{
    width: 90%;
    height: 50%;
  }
}
@media(max-width: 375px){
  h2{
    font-size: 18px;
  }
  .text-justify{
    padding: 2px;
  }
  .row p{
    font-size: 10px;
  }
  .switch1{
    padding: 0px;
  }
  .new-tab .list-unstyled ul li{
    margin: 3px;
  }
}

@media(max-width: 320px){
  .li img{
    width: 100%;
    height: 50%;
  }
  h2{
    font-size: 14px;
  }
  .text-justify{
    padding-right: 2px;
  }

}

.img-responsive1{
  display: block;
    max-width: 100%;
    height: auto;
    margin-right: 2%;
    margin-left: 3%;
}
/*img{
  vertical-align: middle;
}*/

.span{
  margin-left: 2%;
  padding-top: 15px;
}

.switch1 { width: 100%; font-size: 12px; margin-bottom: 20px;}

.switch1 .vip-container .row { margin-top: 10px; }

.switch1 ul{
  font-size: 16px; font-family: 'SFProDisplay-Regular'; letter-spacing: 1px; margin: 2%;
}


.img1{
  background: url('../img/card-open.png'); height: 25px; width: 29px; background-size: 100%; float: right;
}
.img2{
  background: url('../img/card-closed.png'); height: 25px;width: 19px; background-size: 100%; float: right;
}

.f1-ans h3{
  margin-left: 10px;
}

.container1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.vip-target1 { background-color: #f9f9f9; padding: 20px; border:1px solid #efefef;font-family: 'SFProDisplay-Semibold'; letter-spacing: 1px; margin-bottom: 5px;}

.vip-target1 i{
  text-align: center;
}


.section-margin1{
  margin-top: 10px;
}



.section-padding1 { padding: 30px 0; }

.content-wrap1{
  padding: 0 0 50px;
}

.tabsHolder {
    position: relative;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.tabsHolder .tabs1 {
    position: relative;
    width: 100%;
    background: #f9f9f9;
    background: linear-gradient(to bottom, #f9f9f9 0%,#f8f8f8 20%,#e7e7e7 80%,#e5e5e5 100%);
    font-size: 17px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    font-family: 'SFProDisplay-Regular';
}

.content-wrap1 a {
    word-wrap: break-word;
}

.tabsHolder .tabs1 a {display:inline-block; color:#000; outline:none; background:#f9f9f9; background:linear-gradient(to bottom, #f9f9f9 0%, #d8d8da 100%); float:left; border-right:1px solid #CCC; color:#000; cursor:pointer; display:block; outline:medium none; padding:12px; position:relative; text-decoration:none; font-weight:400}
.tabsHolder .tabs1 a.active, .default .tabsHolder .tabs1 a:hover {background:#f0f0f1; background:linear-gradient(to bottom, #f0f0f1 0%, #fefefe 100%); color:#000}
.tabsHolder .content1 {position: relative;}
.tabsHolder .content1 .tabContent {margin-bottom:5px; padding:15px}
.tabsHolder .tabContent .videoPlayer2 {width:544px}
.tabsHolder .tabContent h2, .tabsHolder .tabContent h3 {padding:10px 0}
/*Mobile Page*/
.mobile-page .new-tab { margin-top: 10px; margin-bottom: 10px; }
.account-section2 .mobile-page .tab-content { max-width: 100%; }
.contentCenter { text-align: center; }
.mobile-page .heading h1 { font-family: 'SFProDisplay-Bold'; }
.mobile .paragraph p { font-family: 'SFProDisplay-Regular'; font-size: 20px;  }
.h3-head { font-family: 'SFProDisplay-Semibold'; }
.rowLast p, .bgStyle2 p, .bgStyle1 p { font-family: 'SFProDisplay-Regular'; }
.bgStyle2 { background: #f9f9f9; padding: 50px 0;} 
.bgStyle1{ padding: 50px 0; }
/*How to Play*/
.htp {
  font-family: 'SFProDisplay-Regular';

}
.contentPlay{
  padding-left: 5%;
  padding-right: 50px;
}

.contentPlay ul li{
  font-size: 16px;
  list-style-type: square;
}
.img-responsive2{
    max-width: 100%;
    height: auto;
    margin-left: 3%;
    padding-top: 0px;
}
.pad2{
  margin-right: 5%;
  margin-left: 7%;
}
.vip-target1{
 line-height: 1.5;
}
.read-more-btn{
  padding: 10px 25px;
    font-family: 'SFProDisplay-Bold';
    background-color: #1db954;
    border-radius: 25px;
    color: #fff;
    width: 140px;
    display: block;
    text-align: center;
}
.container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.img3{
  background: url('../img/pb.png'); height: 30px;width: 30px; background-size: 100%; float: left;
}
.img4{
  background: url('../img/new.png'); height: 30px;width: 30px; background-size: 100%; float: left;
}

.img5{
  background: url('../img/I-on.png'); height: 30px;width: 30px; background-size: 100%; float: left;
}
.img6{
  background: url('../img/oap.png'); height: 30px;width: 30px; background-size: 100%; float: left;
}

.img7{
  background: url('../img/book.png'); height: 30px;width: 30px; background-size: 100%; float: left;
}

.img8{
  background: url('../img/Untitled-1.png'); height: 30px;width: 30px; background-size: 100%; float: left;
}

/*for support page*/
/*for search button in support-page*/
.support-para { font-size: 14px; color:#323232; text-align: left; letter-spacing: 1px; font-weight: bold; text-align: justify;}
.sup9-ans,.sup8-ans, .sup7-ans, .sup6-ans, .sup5-ans, .sup4-ans, .sup3-ans, .sup2-ans, .sup1-ans li h4{
  font-family: 'SFProDisplay-Bold';
  font-size: 14px;
  cursor: pointer;
}
.heading1{
  font-size: 14px;
}
.search_input{
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 8px 20px 8px 40px;
  font-family: 'SFProDisplay-regular';
}
.instant_input_button {
    padding: 10px 10px;
    font-family: 'SFProDisplay-regular';
    background-color: #1db954;
    border-radius: 5px;
    color: #fff;
    width: 100px;
    display: block;
    text-align: center;
    margin-left: 20px auto;
}
.form_submit_button{
  margin-left:34%
}
.sup-target { background-color: #f9f9f9; padding: 10px; border:1px solid #efefef;font-family: 'SFProDisplay-Semibold'; letter-spacing: 1px; margin-bottom: 5px;}
.sup9-ans, .sup8-ans, .sup7-ans, .sup6-ans, .sup5-ans, .sup4-ans, .sup3-ans, .sup2-ans, .sup1-ans { border: 1px solid rgb(239, 239, 239); }
#sup9, #sup8, #sup7, #sup6, #sup5, #sup4, #sup3, #sup2, #sup1 { float: right; }
.chat_input{
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 8px 20px 8px 20px;
  font-family: 'SFProDisplay-Regular';
}
.textarea_input{
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 8px 20px 8px 20px;
  font-family: 'SFProDisplay-regular';
}
.chatting_button {
    padding: 10px 10px;
    font-family: 'SFProDisplay-regular';
    background-color: #1db954;
    border-radius: 5px;
    color: #fff;
    width: 200px;
    display: block;
    text-align: center;
    margin-left: 20px auto;
    font-size: 16px;
}
.chat_button {
    padding: 10px 10px;
    font-family: 'SFProDisplay-regular';
    background-color: #1db954;
    border-radius: 5px;
    color: #fff;
    width: 200px;
    display: block;
    text-align: center;
    margin-left: 20px auto;
    font-size: 16px;
}
.chat_button img{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.button_margin{
  margin-left: 78px;
}
.modal{
  display: none;
  position: fixed;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}
.modal-content h4{
  font-family: 'SFProDisplay-Bold';
  font-size: 14px;
}
.modal-content p{
  font-family: 'SFProDisplay-Regular';
  font-size: 14px;
}
.close{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*for team page   start from here*/
.container-team{
  width: 70%;
}
.team-heading { font-family: 'SFProDisplay-Thin'; font-weight: bold; color:#252525; letter-spacing: 1px; text-transform: uppercase; font-size: 32px; margin-bottom: 15px; text-align: center;}
.team-para{ font-family: 'SFProDisplay-regular'; text-align: center;}
.team-para1{ font-family: 'SFProDisplay-regular';}
.img-sm{width: 20%;}
.img-sm-mar{
  margin-top: 5%;
}
.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .2s;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 80%;
    cursor: pointer;
}
.ratio img{
  border-radius: 50%;
}
.ratio:hover{
 /* transform: scale(1.5);*/
}
.ratio img:hover{
  border-radius: 0%;
  transition-duration: .25s;
  transform: scale(1.1);
}
.img-sm h4{ font-family: 'SFProDisplay-regular'; text-align: center; }
.img-sm p{ font-family: 'SFProDisplay-regular'; text-align: center; }

.modal-content1{
  background-color: #66ffb3;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 43%;
  border-radius: 10px;
}
.head4{
  margin-bottom: 1px;
}
.card-content{
  margin-top: 0%;
  background-color: rgb(0,0,0); 
  color: white;
  /*border-radius: 5px;*/
  width: 100%;
  text-align: center;
}
.modal-icon{
  margin: 5px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  width: 255px;
  padding-right: 40px;
  padding-left: 50px;
}
.modal-icon a{
  color: white;
}
.w-100{
  height: 254px;
  width: 270px;
/*  margin-top: 16px;*/
}
.w-200{
  height: 329px;
  width: 265px;
}
.sm{
  width: 23%;
  padding-left: 0px;
  padding-right: 0px;
}
.close1{
  color: black;
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 0.428571;
}
.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.team-para2{ font-family: 'SFProDisplay-regular'; text-align: center; margin-left: 10px; cursor: pointer; color: white;}


/*For Landing page*/
.landing-border{
  border-bottom: 0.5px solid grey;
  background-color: black;
}
.btn-download{
  border: 1px solid #1db954;
  background-color: #1db954;
  border-radius: 25px;
  color: #fff !important;
}
.landing-image{
  background-color:#1E1B1B; height: 490px; width: 100%; background-size: 100%;
}
.landing-image h4{
  text-align: left;
  padding-top: 15%;
  font-size: 50px;
  color: white;
  font-family: 'SFProDisplay-bold';
}
.landing-form{
  text-align: right;
  padding-top: 5%;
  /*font-size: 50px;*/
  color: white;
  font-family: 'SFProDisplay-bold';
}
.min-content{
  /*padding: 50px 0;*/
  text-align: center;
  background-color: white; height: 70px; width: 100%; background-size: cover;
}

.landing-image1{
  background-image: url('../img/group_23.png'); height: 75px; width: 250px; background-size: 100%; opacity: 0.4;
}
.landing-image2{
  background-image: url('../img/group_21.png'); height: 72px; width: 213px; background-size: 100%; opacity: 0.4;
}
.landing-image3{
  background-image: url('../img/group_22.png'); height: 72px; width: 213px; background-size: 100%; opacity: 0.4;
}
.landing-image1-mar{
  margin-right: 75px;
}
.landing-video{
  width: 590px;
  height: 350px;
}
.btn-play-now{
  border: 1px solid #1db954;
    background-color: #1db954;
    border-radius: 50px;
    color: #fff !important;
    padding: 15px 30px;
    font-family: 'SFProDisplay-regular';
    font-size: 20px;
}
.landing-form1{
  background-color: white;
  border-radius: 3px;
  height: 355px;
  width: 400px;
  margin-left: 230px;
  margin-top: 0px;
  padding: 15px;
}
.input-group{
  /*display: unset;*/
}
.input-group-addon{
  background-color: white;
  border-top:0px;
  border-right: 0px;
  border-bottom: 2px solid #1db954;
  border-left: 0px;
  border-radius: 0px;
}
.form-control{
  height: 50px;
  border-top:0px;
  border-right: 0px;
  border-bottom: 2px solid #1db954;
  border-left: 0px;
  border-radius: 0px;
}
.form-control:focus{
  border-top:0px;
  border-right: 0px;
  border-bottom: 2px solid #1db954;
  border-left: 0px;
}
.landing-form-attr{
  margin-left: 90px
}
.reward-img{
  height: 160px; width: 220px;
}
.reward-head{
  font-size: 34px; font-family: 'SFProDisplay-bold';
}
.form-div{
  margin-bottom: 1px;
}
.form-div1{
  margin-bottom: 5px;
}
.form-div-btn{
  padding: 10px 30px;
  width: 210px;
}
.video-para{
  font-size: 16px; font-family: 'SFProDisplay-regular';
}
.parag{
  font-size: 25px;
  font-family: 'SFProDisplay-bold';
}
.parag1{
  font-size: 45px;
  font-family: 'SFProDisplay-bold';
}
.wrap-img{
  height: 110px; width: 120px;
}
.wrap-img1{
  height: 110px; width: 165px;
}
.mar-para{
  margin-left: 280px;
}
.section11 { min-height: 500px; background-color: #efefef; padding:50px 0; }
.section11 .title { margin-bottom: 40px; }
.section11 .title h2 { font-family: 'SFProDisplay-Bold'; font-size:35px; color:#323233; margin-top: 0; }
.section11 .title hr {width: 300px;margin: 20px auto;background-color: #1db954;border-top:3px solid #1db954;}
.section11 .testimonial-slider { margin-bottom: 50px; }
.section11 .testimonial-slider li { max-width: 650px; width: 100%; margin: 0 auto;  }
.section11 li .image-holder {height:100px;width:100px;margin: 0 auto 30px;border-radius: 100%;}
.section11 li p { font-family: 'SFProDisplay-Light'; font-size:24px; color:#323233; text-align: center; line-height: 1.2; margin-bottom: 20px; }
.section11 li h2 { margin-top: 0; color:#1db954; font-style: 24px; font-family: 'SFProDisplay-Light'; }
.section11 li h3 { margin-top: 0; color:#3b3b3b; font-style: 18px; font-family: 'SFProText-Bold'; }
.section11 .section-links li:first-child a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#ffbf00; border-radius: 25px; color:#323233; width: 175px; display: block; text-align:center; }
.section11 .section-links li:nth-child(2) a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#1db954; border-radius: 25px; color:#fff; width: 175px; display: block; text-align:center; }
.section11 .section-links li:last-child {margin-bottom: 0;background-color:transparent;border:1px solid #171717;border-radius: 5px;text-align:left;padding: 4px 30px;vertical-align: middle;}
.section11 .section-links li:last-child a {color:#171717;font-size: 30px;margin-right: 20px;}
.section11 .section-links li:last-child a:hover { color:#ffbf00; }
.section11 .section-links li:last-child p {display: inline-block;font-family: 'SFProDisplay-Light';font-size:14px;color:#171717;margin-bottom: 0;text-align: left;}
.section11 .owl-nav { position: absolute; top:30%; width: 100%; }
.section11 .owl-nav .owl-prev  { position: absolute; left:0; font-size: 120px; line-height: 1; color:#7c7c7c; }
.section11 .owl-nav .owl-next  { position: absolute; right:0; font-size: 120px; line-height: 1; color:#7c7c7c; }
.nav>li>a.social-icons { display: inline-block; }

.section12 { min-height: 275px; background-color:; padding:50px 0; }
.section12 .title { margin-bottom: 0px; }
.section12 .title h2 { font-family: 'SFProDisplay-Bold'; font-size:35px; color:#323233; margin-top: 0; }
.section12 .title hr {width: 300px;margin: 20px auto;background-color: #1db954;border-top:3px solid #1db954;}
.section12 .testimonial-slider { margin-bottom: 50px; }
.section12 .testimonial-slider li { max-width: 650px; width: 100%; margin: 0 auto;  }
.section12 li .image-holder {height:100px;width:100px;margin: 0 auto 30px;border-radius: 100%;}
.section12 li p { font-family: 'SFProDisplay-Light'; font-size:24px; color:#323233; text-align: center; line-height: 1.2; margin-bottom: 20px; }
.section12 li h2 { margin-top: 0; color:#1db954; font-style: 24px; font-family: 'SFProDisplay-Light'; }
.section12 li h3 { margin-top: 0; color:#3b3b3b; font-style: 18px; font-family: 'SFProText-Bold'; }
.section12 .section-links li:first-child a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#ffbf00; border-radius: 25px; color:#323233; width: 175px; display: block; text-align:center; }
.section12 .section-links li:nth-child(2) a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; background-color:#1db954; border-radius: 25px; color:#fff; width: 175px; display: block; text-align:center; }
.section12 .section-links li:last-child {margin-bottom: 0;background-color:transparent;border:1px solid #171717;border-radius: 5px;text-align:left;padding: 4px 30px;vertical-align: middle;}
.section12 .section-links li:last-child a {color:#171717;font-size: 30px;margin-right: 20px;}
.section12 .section-links li:last-child a:hover { color:#ffbf00; }
.section12 .section-links li:last-child p {display: inline-block;font-family: 'SFProDisplay-Light';font-size:14px;color:#171717;margin-bottom: 0;text-align: left;}

.section13 {min-height: 500px; padding: 0px 0 0px; /*background-color: #efefef;*/ }
.section13 .title { margin-bottom: 50px; }
.section13 .title h3 { font-family: 'SFProDisplay-Bold'; font-size:48px; color:#323233; text-transform: uppercase; margin-top: 0; position: relative; margin-bottom: 50px; }
.section13 .title h3:before {content: ''; width: 150px; height: 3px; left: 150px; top: 24px; background: #1db954; position: absolute; }
.section13 .title h3:after {content: ''; width: 150px; height: 3px; right: 150px; top: 24px; background: #1db954; position: absolute; }
.section13 .title p { font-family: 'SFProDisplay-Light'; font-size:24px; color:#323233; }
.section13 .section-wrapper {max-width: 1000px; width: 100%; margin:0 auto; }
.section13 li { width: 31%; margin:0 1% 2%; display: inline-block; vertical-align: top; }
.section13 li a {display: block;width: 100%;height:180px;border-radius: 5px; overflow: hidden;}
.section13 li a div {background-color: rgba(29, 185, 84, .85); position: absolute; bottom:0; width: 100%; padding:0 20px;}
.section13 li a div h2 { margin:0; line-height: 1.5; font-family: 'SFProDisplay-Light'; font-size:32px; color:#fff; }

.offer-head{
  font-size: 32px;
  font-family: 'SFProDisplay-regular';
}
.icon-div{
  width: 400px;
  height: 50px;
  margin-left: 195px;
  line-height: 1.2;
  font-family: 'SFProDisplay-regular';
}
.pad4{
  padding-top: 100px;
}
.mar4{
  margin-top: 35px
}

.banner-links1 li a { padding:15px 30px;font-family: 'SFProDisplay-Bold'; }
.banner-links1 li { margin-bottom: 10px; }
.banner-links1 li:first-child a { background-color:#ffbf00; border-radius: 25px; color:#323233; width: 175px; display: block; text-align:center;background: linear-gradient(#FBD249 0%,#F5A623 100%);
    box-shadow: 0px -3px 3px rgba(0,0,0,0.5) inset;
    border: none;
    font-weight: 100;
    text-shadow: none; }
.banner-links1 li:nth-child(2) a { background-color:#1db954; border-radius: 25px; color:#fff; width: 175px; display: block; text-align:center; }
.banner-links1 li:last-child a {background-color:#1db954;border-radius: 10px;color:#fff;width: 363px;display: block;text-align:center;padding: 8px 30px; background: linear-gradient(#36D28E 0%,#19A655 100%);
    box-shadow: 0px -3px 3px rgba(0,0,0,0.5) inset;
    border: none;
    font-weight: 100;
    text-shadow: none;
  }

.reward-img1{
  height: 490px; width: 490px;
}
.reward-img2{
  height: 475px; width: 620px;padding-top: 20px;
}
.platforms {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(11, 10, 10, .65);
    padding: 10px 50px;
}
.platforms li {
    margin-right: 20px;
    font-family: 'SFProDisplay-Thin';
    color: #fff;
    font-size: 18px;
}
.platforms:after {
    border-bottom: 45px solid rgba(11, 10, 10, .65);
    border-left: 70px solid transparent;
    content: '';
    top: 0;
    position: absolute;
    left: -70px;
}
.platforms li a {
    color: #fff;
}
.platforms li span{
    margin-left: 5px;
}
.vl {
    border-right: 2px solid black;
    height: 190px;
}
.offer{
  position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
}

.user-para h4{
  font-family: 'SFProDisplay-Bold';
  font-size: 30px; 
}
.user-para p{
  font-family: 'SFProDisplay-regular';
  font-size: 20px; 
}
.buttn{
  top:210px;border-radius: 6px;width: 220px;text-align: center;
}
.offer1{
  position: absolute;
    top: 50%;
    right: 8%;
    transform: translate(-50%, -9%);
}
.sec-mar{
  line-height: 0.8;
}