/**{ outline: 1px solid red;}*/
@media (max-width: 1440px) and (min-width: 992px) {
  .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top { top:265px !important; }
}
@media (max-width: 1300px){
    header .main-menu li { margin-right: 0px; }
}

@media (max-width: 1200px){
    header .main-menu { margin-left: 0px; }
    .banner-section h2 { font-size: 60px; }
    .section4 .title h3:before {left: 80px;}
    .section4 .title h3:after {right: 80px;}

    .section3 > img {max-width: 500px;top:-10px;}
}

@media (max-width: 1100px){
  .section9 .owl-nav .owl-prev  {left: -20px;}
  .section9 .owl-nav .owl-next  {right: -20px;}
  header .navbar-default .main-menu>li>a { padding:15px 10px; }
}

@media (max-width: 1024px) {
  .navbar-brand {
    padding: 15px 5px;
    line-height: 20px;
  }
  .banner-section h2 {
    font-size: 48px;
  }
  .rewards { bottom:unset; top:200px; }
  .deposit { bottom:unset; top:240px; }
  .reedem { bottom:unset; top:280px; }
    h2.promotionshead { font-size: 16px; }
  .promotion p { font-size: 14px; }
  .promotion .content { min-height: 415px; }
  p.para_2 { margin-top: -15px; font-size: 28px; }
  p.para_1 { font-size: 24px; }
  /*for chat-with-us button*/
  .button_margin{
    margin-left: 62px;
  }
  /*for team page*/
/*start from here*/
  .modal-content1{
    width: 59%;
  }
.sm{
  width: 29%;
}
  
  /*for landing page*/
  .landing-image{
    height: 368px;
  }
  .landing-image h4{
    font-size: 41px;
  }
  .landing-form{
    padding-top: 13px;
    text-align: center;
  }
  .landing-form1{
    margin-left: 85px;
    height: 305px;
    width: 380px;
    padding: 5px;
  }
  .landing-video {
    width: 510px;
    height: 269px;
}
.reward-img {
    height: 285px;
    width: 425px;
}
.reward-head {
    font-size: 38px;
}
.form-div{
  margin-bottom: 0px;
}
.form-div1{
  margin-bottom: 0px;
}
.form-div-btn{
  padding: 8px;
}
.landing-form-attr {
    margin-left: 90px;
}
.icon-div {
    width: 375px;
    height: 45px;
    margin-left: 85px;
}
.reward-img2 {
    height: 333px;
    width: 500px;
}
.buttn{
  top: 180px;
}
.section11{
  min-height: 445px;
}
.section13{
  min-height: 510px;
}
.offer1 {
    right: -10%;
}
.section12 .title h2 {
    font-size: 31px;
}
.offer-head {
    font-size: 30px;
}
}
@media (max-width: 991px){ 
  /*.signup-mobile { display: block; }*/
  /*.signup-modal { display: none !important; }*/
  .account-section1 .tab-content, .account-section1.transaction .tab-content { width: 100%; }

  #content { padding-top: 0; }

  .section2,
  .section9,
  .section10 { display: none; }

  header .navbar-nav>li {padding:5px 20px; border-bottom:1px solid #1db954; margin-bottom: 5px;}
  header .navbar-right li:last-child{ display: block; }
  header .navbar-right li a { display: inline-block; }
  header .navbar-default .main-menu>li>a {
    padding-top: 3px !important;
    padding-bottom: 9px !important;
  }
  header .navbar-right li:first-child { border-bottom: none; }
  .navbar-default .navbar-toggle { border-color: #1db954; background: #1db954; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #001d77; border-color: #001d77; } 
  .navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
  .banner-section h2 { font-size: 48px; }
  /** NAVBAR BREAK -- EDIT IF SURE **/
  .navbar-header { float: none; }
  .navbar-left,.navbar-right {float: none !important; }
  .navbar-toggle {display: block;margin-top: 25px;margin-bottom: 23px;margin-right: 70px;}
  .navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
  .navbar-fixed-top {top: 0; border-width: 0 0 1px; }
  .navbar-collapse.collapse {display: none!important; }
  .navbar-nav {float: none!important; margin: 0 !important; }
  .navbar-nav>li {float: none; }
  .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px; }
  .collapse.in{display:block !important;background: transparent;}
  /** NAVBAR BREAK -- EDIT IF SURE **/

  .section3 {text-align: center;}
  .section3 > img {position: relative;top: initial;max-width: 100%;margin: 0 auto 20px;right: initial;}
  .section3 .section-links li:last-child { margin:0 auto; }

  .section4 .title h3:before {left: 0px; width: 120px;}
  .section4 .title h3:after {right: 0px; width: 120px;}

  .section8 .row > div { float:none !important; text-align: center; }
  .section8 img { margin:0 auto 10px; }
  .section8 .section-b .row { margin-bottom: 50px; }

  .footer { text-align: center; }

  header .navbar-brand {max-width: 250px;}
  header .navbar-brand img { max-width: 100%; }

  .account-menu { display: block; font-size: 30px; }
  .social-ellipsis {display: block;font-size: 30px !important;cursor: pointer;position: absolute;right: 30px;z-index: 9999;top: 13px;}
  .top-header {display: inline-block; position: absolute; z-index: 9999; background: transparent; right: 15px; top: 10px; }
  .top-header ul {display: none;position: absolute;margin: 0;width: 250px;right: 0;text-align: left;background: rgba(0, 0, 0, 0.8);padding: 10px;border-radius: 5px;top: 80px;}
  .top-header ul li { margin-bottom: 10px; }
  .top-header a { font-size: 14px; }
  header { top:0; }

  .login-btn-wrapper {display: block;position: absolute;right: 130px;top: 32px;z-index: 10000;}
  .login-btn-wrapper a {padding: 7px 20px;}

  .account-section1 .amount .item { padding-left: 0; text-align: center; }
  .responsive-tabs-container.accordion-sm .accordion-link { background: transparent; color:#fff; font-family: 'SFProDisplay-Semibold';font-size: 20px; }
  .responsive-tabs-container.accordion-sm .accordion-link.active { color:#0093E8; }
  .account-section1 .platforms {text-align: center;top: 35px;padding:10px;}
  .account-section1 .platforms a{ line-height: 1; color:#fff; display:block; }
  .account-section1 .platforms:after { display: none; }

  .account-section1 .platforms ul {display: none;position: absolute;margin: 0;width: 150px;left: 10px;text-align: left;background: #000;padding: 10px;border-radius: 5px;top: 60px;z-index: 9999;}
  .account-section1 .platforms ul li { display: block; margin:2px 0; text-align: center; }

  .login-modal { margin-top: 50px; }

  header .main-menu {width: 100%; }


header .navbar-default .main-menu>li>a {
    padding-top: 2px !important;
    padding-bottom: 5px !important;
}

  .navbar-nav .open .dropdown-menu {
    height: 600px;
    overflow: overlay;
  }

  .signup-mobile .form-group{
    display: none;
  }
  .signup-mobile label{
    display: none;
  }
  .signup-mobile input{
   display: none !important;
  }

  .menu-2 {background-color: #ffffff; display: block;     }
  .menu-1{width:100%; height: 40vh; margin-right: 20%;width: 142vh;}
  .menu-2{width: 100%;max-width: 100%; height: 60vh; margin-right: 20%; width: 142vh;} 
  .account-section1 .platforms{display: none;}

.new-tab {margin-top: 0px;}
.account-section1{padding-top: 100px;}
.account-section1 .amount .item{padding-right: 0px; text-align: left;}
.account-section1 .amount .mobile-right .item { text-align: right; }
.account-section1 .amount label span { min-width: 50px; }
.new-tab .win {padding-right: 0px;}
.new-tab .bonus {padding-right: 0px;}
.new-tab .ucb {padding-right: 0px;}
.new-tab .freemoney {padding-left: 0px;}
.menu-2 li {
    margin-bottom: 4px;
    margin-left: 8px;
    padding-top: 4px;
}
.account-section2 .tab-content { max-width: 100%; }
.tabel-container { max-width: 100%; margin: auto; }
.h3-head { margin: 0 0 10px; }
h3.h3-head { font-size: 20px; }
h2.h3-head { font-size: 26px; }

 
}
@media (min-width: 769px) {
  .banner-section {
    min-height: 600px;
    max-height: 600px;
  }
     .panel-title #asdf a {margin-left: 80%;}
}
@media (max-width: 768px){ 
    header .navbar-right { margin-left: 0; }

    iframe { width: 100%; }
    .banner-section h2 {
      font-size: 32px; margin-bottom: 10px;
    }
    .banner-section .banner-links li:first-child a {
      width: 120px;
    }
    .banner-section .banner-links li a { padding:10px 20px; }
    .banner-section .banner-links li:nth-child(2) a { width: 120px; }
    .banner-section .banner-links li:last-child a { width: 250px; }
    .list-inline.banner-links img { height: 30px; width: 30px; }
    .section4 li { width: 47.5%; }

    .section4 .title h3:before, .section4 .title h3:after { display: none;}

    .section5 .section-links li { margin-bottom: 10px; }
    .section5 .section-links li:last-child { margin:0 auto; width: 363px;}
    .section5 .section-links li:last-child a { font-size: 42px;}
    .section6 { min-height: auto; }
    .section6 .wrapper { padding: 0 0; }
    .section6 .col-sm-4 { padding-right: 5px; padding-left: 5px; }
    .section6 .wrapper .image-holder { height: 120px; line-height: 120px; }
    .section6 .image-holder img { width: 120px; }
    .section6 .wrapper h2 { font-size:24px; margin-bottom: 10px; }
    .section6 .wrapper p { font-size: 20px; }
    .section7 .section-links li { margin-bottom: 10px; }
    .section7 .section-links li:last-child { margin:0 auto; width: 363px;}
    .section7 .section-links li:last-child a { font-size: 42px;}

    .footer .text-right { text-align: center !important; }
    .footer .section-links li { margin-bottom: 10px; }
    .footer .section-links li:last-child { margin:0 auto; width: 363px;}
    .footer .section-links li:last-child a { font-size: 42px;}

    .section7 .owl-nav { display: none; }
    .section7 .testimonial-slider li .pull-right { float:none !important; text-align: center; }

    .limits { text-align: center !important; }
    .login-modal .login-content .col-sm-1 { display: none }
    .login-modal .login-content .col-sm-1 { min-height: 445px; }
    .login-modal .modal-dialog { max-width: 100%; width: auto; }
    .close-on-mobile {display: block;font-size: 20px;margin-top: 5px;margin-right: 10px;position: relative;z-index: 9999;}
    /*My Account*/
    .account-section1 .amount .other-balance { margin-bottom: 50px; }
    footer .list-unstyled { text-align:left; }
    .footer .footer-links li a { font-size: 16px; }
    .account-section1 .tab-content { width: 100%; }
    p.para_2 { font-size: 32px; }
    .deposit-code .topspace1 { padding: 30px 5px; }
    .deposit-code p.para_3 { font-size: 11px; line-height: 12px; }
    .deposit-code p.para_2 { font-size: 22px; line-height: 24px; }
    .deposit-code p.para_4 { padding: 0 10px; }
    .tournamentimg, .deposit-code { padding: 20px 0; }
    .inner-promotion p { padding: 0 20px; }
    .vip-container p { padding: 10px; }
    h2.promotionshead { margin-top: 10px; font-size: 14px; }
  .promotion p { font-size: 12px; }
  .promotion .btn { width: 100px; }
  .promotion .content { min-height: 355px; }
  .promotion .column { padding-left: 5px; padding-right: 5px; }
  .account-section2 { padding-top: 88px; }
  .rewards-img-container {
    min-height: 160px;
    margin-bottom: 10px;
  }
  .label-container { height: 50px; } 
  .label-container span { line-height: 30px; }
  .row.owl-carousel { margin-left: 0; margin-right: 0; }
  #rewards .owl-carousel .owl-nav .owl-prev { left: -2%; }
  #rewards .owl-carousel .owl-nav .owl-next { right: -2%; }


  /*.tabsHolder*/ 

  .tabsHolder .tabs1 a{
    padding: 10px;
  }
  .pad2{
    padding-left: 0px;
  }
  /*for chat-with-us button*/
  .button_margin{
    margin-left: 64px;
  }
  /*for pop-up*/
  .modal{
    padding-top: 210px;
  }

  /*for team page start from here*/
  .img-sm h4{
    font-size: 15px;
  }
  .img-sm p{
    font-size: 12px;
  }
  .team-para1{
    font-size: 13px;
  }
  .head4{
    margin-bottom: 1px;
  }
  .w-100{
  height: 200px;
  width: 200px;
}
.w-200{
  height: 275px;
  width: 197px;
}
.sm{
  width: 28%;
}
.modal-icon{
  width: 190px;
  padding-right: 20px;
  padding-left: 20px;
}
/*for landing page*/
.landing-image {
    height: 375px;
    background-size: cover;
    background-repeat: no-repeat;
}
.landing-form1 {
    margin-left: 60px;
    height: 312px;
    width: 283px;
    padding: 8px;
}
.landing-image h4 {
    font-size: 30px;
}
.landing-image1-mar {
    margin-right: 60px;
}
.landing-image1 {
    height: 60px;
    width: 200px;
}
.landing-image2 {
    height: 60px;
    width: 172px;
}
.landing-image3 {
    height: 70px;
    width: 206px;
}
.landing-video {
    width: 391px;
    height: 206px;
}
.reward-img {
      height: 196px;
    width: 250px;
}
.reward-head {
    font-size: 28px;
}
.video-para{
  font-size: 15px;
}
.btn-play-now{
  padding: 12px 30px;
}
.landing-form-attr{
  height: 42px;
  margin-left: 30px;
}
.form-div-btn {
    padding: 8px;
}
label{
  margin-bottom: 0px;
}
#client-slider-v1 .carousel-control {
      bottom: 0;
}
#client-slider-v1 .carousel-control.left {
        left: 0;
}
#client-slider-v1 .carousel-control.right {
        right: 0;
}
#client-slider-v1 .carousel-indicators {
        bottom: -45px;
        left: 40%;
        width: 90%;
        margin-left: -35%;
}
.parag{
  font-size: 30px;
}
.wrap-img1 {
    height: 100px;
    width: 145px;
}
.wrap-img {
    height: 100px;
    width: 110px;
}
.wrapper h4{
  font-size: 25px;
}
.icon-div {
    width: 335px;
    height: 40px;
    margin-left: 11px;
    font-size: 13px;
}
.section11 {
    min-height: 385px;
}
.mar-para {
    margin-left: 0px;
}
.section12 {
    min-height: 290px;
}
.pad4 {
    padding-top: 68px;
}
.reward-img2 {
    height: 325px;
    width: 393px;
}
.buttn {
    top: 125px;
}
.offer-head {
    font-size: 28px;
}
.section12 .title h2 {
    font-size: 28px;
    }
    .reward-img1 {
    height: 400px;
    width: 340px;
}
.section13 {
    min-height: 445px;
}
.offer1 {
    right: -30%;
}
.mar4 {
    margin-top: 10px;
}
.buttn {
    top: 140px;
}
.offer1 {
    right: -35%;
}
.parag1{
  font-size: 30px
}
}

@media (max-width: 700px){
  .section8 .section-a h2 { font-size:25px; }

  .account-section1 .tab-content,.account-section1.leaderboard .tab-content { width: 100%; }
}

@media (max-width: 656px){ 
.new-tab br {display: none;}
.cq-table, .cashback-terms, .switch { width: 100%; }
.cashback-terms ol { padding: 0 20px; }
.label-container { height: 90px; } 
.label-container span { line-height: 50px; font-size: 30px; }
.rewards-container p { font-size: 20px; }
.mobile-page .heading h1 { font-size:28px; }
.mobile .paragraph p { font-size: 16px; padding: 0 15px; }
.rowLast p, .bgStyle2 p, .bgStyle1 p { font-size: 14px; }
h2.h3-head { font-size: 22px; }
}

@media (max-width: 600px){
  .section4 .title h3:before, .section4 .title h3:after { display: none; }
}

@media (max-width: 500px){
  .banner-section { padding-top: 88px; }
  .slider-caption .caption-text { padding-top: 0; }
  .banner-section h2 { font-size: 18px;  margin-bottom: 30px;}
  .banner-section .banner-links li:first-child a { width: 90px; font-size: 12px;}
  .banner-section .banner-links li:nth-child(2) a { width: 90px; font-size: 12px; }
  .banner-section .banner-links li a { padding: 10px 15px; }
  .banner-section .banner-links li:last-child a { width: 180px; }
  .list-inline.banner-links img { height: 20px; width: 20px; }
  /*.banner-section .banner-links li:first-child a { width: 90px; font-size: 12px; }*/
  .section4 li { width: 100%; margin:0 0 20px; }
  .section4 li a { height:250px; }

  .section3 .section-links li:first-child a,
  .section3 .section-links li:nth-child(2) a,
  .section5 .section-links li:first-child a,
  .section5 .section-links li:nth-child(2) a { width: 120px; padding:15px 10px; } 
  .section-links li:last-child { width: 100% !important; }

  .section8 .section-a .title {margin: 0 15px;padding: 0 10px;}

  .social-ellipsis { right:5px; }
  .navbar-toggle { margin-right: 40px; }
  .login-btn-wrapper { right: 95px; }

  .account-section1 .payment-radio label  { padding:0 5px; }

  .account-section1 .btn-choice button img {
    margin:0 auto 5px;
    display: block;
  }
  .promotion .column { padding-left: 15px; padding-right: 15px; }
  .new-tab .list-unstyled .active {
    text-decoration: none;
    background: transparent;
    border: none;
    border-bottom: 3px solid #0093E8 !important;
    color: #1db954;
}
#terms { margin-left: 0 !important; }
}

@media (max-width: 425px){
  .banner-section { padding-top: 80px; }
  .banner-section h2 { font-size: 16px;  margin-bottom: 20px;}
  .banner-section .banner-links li:first-child a { width: 90px; font-size: 12px;}
  .banner-section .banner-links li:nth-child(2) a { width: 90px; font-size: 12px; }
  .banner-section .banner-links li a { padding: 5px 15px; }
  .banner-section .banner-links li:last-child a { width: 180px; padding: 5px 30px; }
  .list-inline.banner-links img { height: 20px; width: 20px; }
  .section3 > img { width: 250px; }
  .section3 h2 { font-size: 24px; margin-bottom: 30px; }
  .section4 { padding: 50px 0 50px; margin-bottom: 30px; }
  .section4 .title h3 { font-size:40px; }
  .section5 .section-wrapper h2 { font-size: 28px; }
  .section5 .section-wrapper p { font-size: 22px; }
  .section6 .title h3 { font-size: 24px; }
  .section7 .title h2, .section8 .section-b h2 { font-size: 28px; }
  .section8 .section-b p { font-size: 20px; text-align: justify; }
  .footer .footer-links li a { font-size: 14px; }

  header .navbar-brand { max-width: 225px; }

  .section-links li:last-child { text-align: center !important; }
  .section-links li:last-child p { display: block !important; text-align: center !important; }
  .section-links li:last-child a { margin-right: 40px !important; }
  .section-links li:last-child a:nth-child(3) { margin-right: 0 !important; }
  .new-tab .list-unstyled li {margin: 0 3px; }
  .transaction .new-tab .list-unstyled li { margin-bottom: 15px; }
  .transaction .new-tab .list-unstyled li:nth-child(2) { border-right: 0; }
  #withdraw, #tds, #alltransaction, #purchase { padding: 20px 0; }
  .new-tab .list-unstyled a {cursor: pointer; padding: 5px 15px; background: transparent; border: none; color: #fff; font-family: 'SFProDisplay-Semibold'; font-size: 15px; } 
  .leaderboard .new-tab .list-unstyled a { padding: 5px 10px; }
  .account-section1 .amount label { font-size: 14px; line-height: 20px; }
  .account-section1 .amount label span { font-size: 14px; line-height: 20px; }
  .rc-anchor-normal {height: 74px; width: 291px; }

  .menu-2 {width: 50vh;}
  .menu-1{width: 50vh;}
  /*Buy Chips Page*/
  .btn-choice .col-xs-3 { padding-left: 5px; padding-right: 5px; }
  .account-section1 .chip-checkout .btn-choice button { border-radius: 10px; }
  .account-section1 .chip-checkout .btn-choice button img { margin-right: auto; }
  .account-section1 .chip-checkout .form-group label { font-size: 16px; }
  #challange .col-xs-12 { padding-left: 5px; padding-right: 5px; }
  .account-section1.inner-promotion { padding-top: 80px; }
  .promotion-heading, .satellite-heading { font-size: 18px; padding: 10px 0; }
  .inner-promotion p { font-size: 14px; padding: 0; }
  .inner-promotion ul { padding: 0 0 0 15px; }
  .inner-promotion .new-tab .list-unstyled li { margin-bottom: 15px; }
  .deposit-code .topspace1 { padding: 0 5px; }
  .promotion .about { margin-bottom: 20px; padding-left: 0; padding-right: 0; }
  .col-sm-6.text-right { text-align: left; }
  .total-balance a { font-size: 12px; }
  .column { margin-bottom: 5px; }
  .promotion .btn { margin-bottom: 5px; }
  .content { min-height: 440px; }
/*    Promotion Page*/
    .account-section2 .new-tab .list-unstyled a { color:#333; }
    .vip-container p { padding: 10px; }


    .new-tab .list-unstyled{
    margin-bottom: 5px;
  }
  .pad1{
    margin: 0px;
  }
  .pad1 .col-md-12{
    padding: 0px;
  }

  .container1{
    padding: 0px;
  }

  .tabsHolder .tabs1{
    font-size: 11px;
  }

  .tabsHolder .tabs1 a{
    padding:8px;
  }

  .container .col-sm-12 {
    padding: 0px;
  }

  .section-padding1{
    padding: 0px;
  }
  /*How to Play*/
  .vip-target1{
  line-height: 2.0;
  }
  .read-more-btn{
    font-size: 10px;
    padding: 8px 20px;
    width: 100px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .pad2{
    margin-right: 0px;
    margin-left: 0px;
  }
  .container2{
    padding-left: 0px;
    padding-right: 0px;
  }
  .contentPlay { padding-right: 5%; }
  .contentPlay ul li { font-size: 14px; }
  /*for textarea input*/
  .textarea_input{
    width: 100%;
  }
  /*for form submit button on support page*/
  .chatting_button{
    width: 150px;
    font-size: 12px;
  }
  .form_submit_button{
    margin-left: 30%;
  }
  .button_margin{
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .chat_button{
    width: 150px;
    font-size: 12px;
  }
  /*search input in support page*/
  .search_input{
    width: 79%;
  }
  .instant_input_button{
    width: 80px;
    font-size: 14px;
  }
  /*for pop-up*/
  .modal{
    padding-top: 170px;
  }
  .modal-content{
    width: 70%;
  }
  /*.modal-content h4{
    font-size: 12px;
  }*/
  .modal-content p{
    font-size: 12px;
  }
  /*for team page start from here*/
  .img-sm{
    width: 50%;
  }
  .ratio{
    width: 70%;
    margin-left: 30px;
  }
  .modal-content1{
  width: 65%;
}
  .team-para1{
    /*margin-top: 20%;*/
    padding-right: 7px;
    padding-left: 7px;
    font-size: 12px;
  }
  .head4{
    margin-bottom: 1px;
  }
  .w-100{
    width: 225px;
  }
  .w-200{
    height: 205px;
    width: 228px;
  }
  .close1{
    line-height: 0.428571;
  }
  .sm{
    width: 100%;
  }
  .modal-icon{
    width: 215px;
  }
  .img-sm-mar{
  margin-top: 0%;
  }
  /*for landing page*/
  .landing-image {
    height: 575px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .landing-video {
    width: 365px;
    height: 189px;
  }
  .min-content {
    height: 50px;
  }
  .landing-image1-mar {
    margin-right: 2px;
}
.landing-image1 {
    height: 35px;
    width: 118px;
}
.landing-image2 {
    height: 40px;
    width: 117px;
}
.landing-image3 {
    height: 40px;
    width: 119px;
}
.landing-image h4 {
    font-size: 16px;
    padding-top: 0%;
    text-align: center;
}
.reward-img {
    height: 170px;
    width: 280px;
}
.btn-play-now {
    margin-left: 38px;
}
.btn-play-now-1 {
    margin-left: 0px;
}
.landing-form1{
  margin-left: 60px;
}
.parag {
    font-size: 24px;
}
.mar-para{
  margin-left: 0px;
}
.sec-mar{
  margin-bottom: 0px;
  margin-top: 30px;
  padding-top: 20px;
  line-height: 0.9;
}
.wrapper h4 {
    font-size: 27px;
}
.wrap-img {
    height: 85px;
    width: 100px;
}
.wrap-img1 {
    height: 85px;
    width: 130px;
}
.offer-head{
  font-size: 26px;
}
.section12 {
    min-height: 350px;
    padding: 25px 0;
}
.icon-div {
    width: 320px;
    height: 40px;
    margin-left: 25px;
}
.landing-form {
    padding-top: 0px;
}
.mar4{
  margin-top: 35px;
  line-height: 0.5;
}
.reward-img2 {
    height: 210px;
    width: 348px;
    padding: 10px;
    margin-left: 20px;
}
.user-para p {
    font-size: 15px;
    line-height: 1.2;
}
.buttn {
    top: 40px;
}
.section11 {
    min-height: 420px;
}
.offer1 {
    right: -10%;
}
.section12 .title h2 {
    margin-left: 38px;
}
.vl{
  border-right: 0px;
  border-bottom: 2px solid black;
  height: 130px;
}
.pad4 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.platforms{
  display: none;
}
.reward-img1{
  padding-right: 20px;
}
}

@media (max-width: 375px){
  header { background-color: #333; }
  .section8 .section-a h2 { font-size:20px; }
  .banner-section .banner-links li:last-child a { display: none; }
  .banner-section .banner-links li:nth-child(2) a { margin-left: 15px; }
  .section4 { margin-bottom: 0; }
  .section4 .title h3 { font-size: 24px; margin-bottom: 20px; }
  .section4 .title p { font-size: 20px; }
  .section5 .section-wrapper h2 { margin-bottom: 20px; }
  .rewards, .deposit, .reedem { margin-right: -75px; }
  .other-balance .col-xs-6.mobile-right { padding-left: 0; }
  .account-section1 .chip-checkout { padding-top: 0; } 
  .promotion-heading, .satellite-heading { font-size: 16px; }
  .col-xs-12.topspace1 { padding-right: 0; padding-left: 0; }
  .label-container {
      height: 79px;
  }
  .account-section2 {
    padding-top: 80px;
  }

  .new-tab .list-unstyled{
    margin-bottom: 5px;
  }
  .pad1{
    margin: 0px;
  }
  .pad1 .col-md-12{
    padding: 0px;
  }

  .container1{
    padding: 0px;
  }

    .f1-ans h3{
    font-size: 16px;
  }
  

  .new-tab .list-unstyled ul li a {
    font-size: 12px;
  } 
  .mobile-page .heading h1 { font-size:26px; }
  /*for form submit button on support page*/
  .form_submit_button{
    margin-left: 25%;
  }
  .button_margin{
    margin-left: -9px;
  }
  /*search input in support page*/
  .search_input{
    width: 76%;
  }
  /*for support page*/
  .sup9-ans,.sup8-ans, .sup7-ans, .sup6-ans, .sup5-ans, .sup4-ans, .sup3-ans, .sup2-ans, .sup1-ans li h4{
  font-size: 14px;
}
/*for pop-up*/
.modal{
  padding-top: 150px;
}
.modal-content{
  width: 80%;
}
/*for team page start from here*/
.ratio{
  width: 65%;
  margin-left: 22px;
}
.team-para{
  font-size: 14px !important;
}
.team-para1{
  font-size: 14px !important;
}
.head4{
  margin-bottom: 1px;
}
.w-100{
    width: 190px;
  }
  .w-200{
    height: 240px;
    width: 190px;
  }
  .modal-icon{
    width: 182px;
    padding-right: 11px;
  padding-left: 19px;
  }
  /*for landing page*/
  .landing-video {
    width: 317px;
    height: 171px;
  }
  .reward-img {
    height: 170px;
    width: 255px;
}
  .reward-head {
    font-size: 27px;
  }
  .btn-play-now {
    padding: 10px 25px;
    margin-left: 45px;
}
.btn-play-now-1 {
    margin-left: 0px;
}
.landing-form1 {
    margin-left: 35px;
}
.landing-image{
  height: 525px;
}
.min-content {
    height: 32px;
}
.landing-image1 {
    height: 25px;
    width: 83px;
}
.landing-image2 {
    height: 25px;
    width: 73px;
}
.landing-image3 {
    height: 25px;
    width: 75px;
}
.landing-image1-mar {
    margin-right: 5px;
}
.mar-para {
    margin-left: 0px;
}
.parag {
    font-size: 18px;
}
.wrap-img1 {
    height: 75px;
    width: 120px;
}
.wrap-img {
    height: 75px;
    width: 90px;
}
.wrapper h4 {
    font-size: 22spx;
}
.offer-head {
    font-size: 23px;
}
.icon-div {
    margin-left: 1px;
}
.mar4 {
    margin-top: 45px;
}
.section12 {
    min-height: 335px;
}
.pad4 {
    padding-top: 50px;
}
.reward-img2 {
    height: 200px;
    width: 315px;
    /* padding: 10px; */
    /* margin-left: 20px; */
}
.banner-links1 li:last-child a {
    width: 305px;
}
.sec-mar {
    margin-top: 45px;
}
.user-para p {
    font-size: 12px;
}
.buttn {
    top: 40px;
    margin-left: -14px !important;
}
.offer1 {
    top: 45%;
}
.reward-img1 {
    height: 400px;
    width: 330px;
}
.section12 .title h2 {
    margin-left: 42px;
}
.parag1{
  font-size: 26px;
}
}

@media (max-width: 360px) {
  .col-xs-12.cash { padding-left: 5px; padding-right: 5px; }
  .footer .section-links li:first-child a, .footer .section-links li:nth-child(2) a { width: 140px; padding: 15px 20px; font-size: 16px;}
  .new-tab .list-unstyled a { padding: 5px 10px; }
  .account-section1 .chip-checkout .form-group label { font-size: 14px; }
  .rewards-container p { font-size: 19px; }
  .label-container { height: 75px;  }
}
.tooltip.top .tooltip-inner,
.tooltip.right .tooltip-inner {background-color:#fff; color:#000;}
.tooltip.top .tooltip-arrow {border-top-color: #fff; }
.tooltip.right .tooltip-arrow {border-right-color: #fff; }
.tooltip.right .tooltip-inner { min-width: 120px; }



@media (max-width: 320px){
  .account-section1 .amount label img { margin-right: 5px; }
.account-section1 .amount label { font-size: 12px; line-height: 16px; }
.account-section1 .amount label span { font-size: 12px; line-height: 16px; }
.footer .section-links li:first-child a, .footer .section-links li:nth-child(2) a { width: 120px; font-size: 14px;}
.menu-2 {
    width: 42vh;
}
.menu-1 {
    width: 42vh;
}
.banner-section h2 { margin-bottom: 10px; margin-top: 10px; }

.tabsHolder .tabs1 a{
  padding: 6px;
}

.instant{
  height: 40px;
  width: 225px;
}


.new-tab .list-unstyled ul li a {
  font-size: 12px;
}
.switch1 h4{
  font-size: 12px;
}
.vip-target1{
  line-height: 2.5;
  }
/*for form submit button on support page*/
  .form_submit_button{
    margin-left: 25%;
  }
  .chat_button{
    width: 130px;
  }
  /*search input in support page*/
  .search_input{
    width: 72%;
  }
  /*support-page*/
  .heading1{
    font-size: 12px;
  }
  /*for pop-up*/
  .sup9-ans,.sup8-ans, .sup7-ans, .sup6-ans, .sup5-ans, .sup4-ans, .sup3-ans, .sup2-ans, .sup1-ans li h4{
  font-size: 12px;
}
.modal-content h4{
  font-size: 12px;
}
/*for team page start from here*/
.ratio{
  width: 65%;
}
.ratio-margin{
  margin-bottom: 30px;
}
.modal-content1{
  width: 71%;
}
.w-100{
width: 176px;
}
.w-200{
  width: 176px;
  height: 275px;
}
.modal-icon{
  width: 166px;
  padding-right: 8px;
  padding-left: 8px;
}
/*for landing page*/
.landing-form1 {
    margin-left: 14px;
    height: 310px;
    width: 272px;
}
.landing-video {
    width: 261px;
    height: 140px;
}
.reward-img {
    height: 145px;
    width: 215px;
}
.reward-head {
    font-size: 22px;
}
.min-content {
    height: 35px;
}
.landing-image1 {
    height: 25px;
    width: 85px;
}
.landing-image2 {
    height: 25px;
    width: 75px;
}
.landing-image3 {
    height: 25px;
    width: 83px;
}
.btn-play-now {
    margin-left: 40px;
}
.btn-play-now-1 {
    margin-left: 0px;
}
.parag {
    font-size: 16px;
}
.wrapper h4 {
    font-size: 18px;
}
.wrap-img {
    height: 65px;
    width: 80px;
}
.wrap-img1 {
    height: 65px;
    width: 100px;
}
.offer-head {
    font-size: 19px;
}
.icon-div {
    margin-left: 0px;
    width: 272px;
}
.landing-form-attr {
    margin-left: 20px;
}
.section12 {
    min-height: 310px;
}
.reward-img2 {
    height: 200px;
    width: 260px;
    margin-left: 14px;
}
.banner-links1 li:last-child a {
    width: 275px;
}
.user-para p {
    font-size: 11px;
}
.buttn {
    top: 27px;
    margin-left: -86px !important;
}
.section11 {
    min-height: 367px;
}
.reward-img1 {
    height: 330px;
    width: 270px;
}
.parag1 {
    font-size: 22px;
}
}





@media (max-width: 918px) and (min-width:  716px){

  .menu-1 {width: 115vh; }
  .menu-2 {width: 115vh; }


}


@media (max-width: 716px) and (min-width:  320px){

  .menu-1 {width: 103vh; }
  .menu-2 {width: 103vh; }


}


@media (max-width: 744px) and (min-width:  320px){

  .menu-1 {width: 103vh; }
  .menu-2 {width: 103vh; }


}


@media (max-width: 676px) and (min-width:  320px){

  .menu-1 {width: 95vh; }
  .menu-2 {width: 95vh; }

}




@media (max-width: 638px) and (min-width:  320px){

  .menu-1 {width: 90vh; }
  .menu-2 {width: 90vh; }

}

@media (max-width: 584px) and (min-width:  320px){

  .menu-1 {width: 80vh; }
  .menu-2 {width: 80vh; }

}


@media (max-width: 530px) and (min-width:  320px){

  .menu-1 {width: 70vh; }
  .menu-2 {width: 70vh; }

}


@media (max-width: 502px) and (min-width:  320px){

  .menu-1 {width: 60vh; }
  .menu-2 {width: 60vh; }

}



@media (max-width: 425px) and (min-width:  320px){

  .menu-1 {width: 55vh; }
  .menu-2 {width: 55vh; }

}

@media (max-width: 375px) and (min-width:  320px){

  .menu-1 {width: 45vh; }
  .menu-2 {width: 45vh; }

}



@media (max-width: 320px) and (min-width:  320px){

  .menu-1 {width: 40vh; }
  .menu-2 {width: 40vh; }

}

